* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #112;
  color: #fff;
}

.content {
  max-width: 1200px;
  margin: 2rem auto;
}

a {
  text-decoration: none;
}
