html {
  min-height: 100%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100%;
  background-color: #000000;
  color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Segoe UI",
    monospace;
}

main {
  display: flex;
  flex-wrap: wrap; 
}

.movie-card {
  position: relative;
  width: 50%;
}
 
.movie-card a:hover > img{
  opacity: 0.2;
  transition: 0.3s ease-in-out;
}

.movie-card img {
  width: 100%;
}

.description {
  position: absolute;
  left: 20px;
  bottom: 20px;
  color: white;
}

.hidden-description {
  display: none;
}

.movie-detail {
  color:white;
  display: flex;
  flex-direction: column;
  margin: 50px;
}

.movie-detail img {
  border: 5px solid white;
  max-width: 70%;
  margin-right: 15px;
  margin-bottom: 15px;
}

p {
  font-size: 16px;
  letter-spacing: 1px;
  margin-bottom: 15px;
}
.movie-detail p {
  background: rgb(0 0 0 / 40%);
  padding: 10px;
  border-radius: 5px;
}

.background {
  background-color: #1e1e1e;
  min-height: 100vh;
  background-position: center;
  background-size: cover;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.title-vote {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  font-size: 25px;
}

.title-vote h3 {
  background-color: white;
  border-radius: 7px;
  color: black;
  margin-left: 15px;
  padding: 3px 5px;
  display: flex;
  align-items: center;
}

 h1 {
  font-weight: bold;
  margin: 5px 0px;
}

.movie-card h1 {
  margin-bottom: 20px;
}

.vote-icon {
  content: url(Star.svg);
  height: 15px;
  padding-right: 3px;
}

.back-button {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin: 20px;
  color:white;
  text-decoration: none;
}

.back-button img {
  content: url(back-arrow-50.png);
}

.back-button p {
  margin: 0px;
}

.back-button:hover {
  transform: scale(1.04);
  transition: 0.2s ease-in-out;
}

@media (min-width: 667px) {

  h1 {
    font-size: 32px;
  }

  p {
    font-size: 24px;
  }

  .description p {
    font-size: 13px;
    margin: 5px 0px;
  }

  main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-items: center;
  }

  .movie-card {
    width: 33%;
  }

  .movie-detail {
    flex-direction: row;
    align-items: flex-end;
  }

  .back-button img {
    content: url(back-arrow-100.png);
    max-width: 50%;
  }

  .back-button {
    font-size: 25px; 
  }
}

@media (min-width: 1024px ) {

  .movie-card {
    width: 25%;
  }
  
  .movie-detail p {
    max-width: 70%;
  }
}
