body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  margin: 0;
  padding: 0;
}

body,
html {
  height: 100%;
}

#root {
  height: 100%;
}

main {
  height: 100%;
}

h1 {
  font-size: 20px;
}

h2 {
  font-size: 18px;
}
h3 {
  font-size: 17px;
}
p {
  font-size: 16px;
}



