* {
  box-sizing: border-box;
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.outer-wrapper {
  max-width: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  padding: 10px;
  gap: 2vh;
  box-sizing: border-box;
}

.movie-grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}


.movie-article {
  position: relative;
  width: 100%;
  background-color: black;
  
  transition: opacity 0.3 ease;
 
}

.movie-article img {
  width: 100%;
  height: auto;
  object-fit: cover;
  margin-bottom: 10px;
  margin: 0;
  padding: 0;
  opacity: 1;
}

.movie-details {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 10px;
  opacity: 0;
  transition: opacity 0.3 ease;
}

.movie-article:hover .movie-details {
  opacity: 1;
}

.movie-details h1,
.movie-details p {
  margin: 0;
  padding: 0;
  color: white;
}

.popular-movies-section {
  display: grid;
}

