* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a.active {
  text-decoration: underline;
  background-color: red;
}

.background-poster {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.movie-container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}

.movie-poster-list {
  position: relative;
}

.list-poster {
  display: inherit;
  transition: 0.5s ease;
  width:100%;
  height: 100%;
  object-fit: cover; 
}

.movie-info {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 1rem;
  background: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);
  transition: 0.4s ease;
  color: white;
  overflow: hidden;
  line-height: 3rem;
}

.movie-text:hover {
  opacity: 100;
  background: rgba(44, 44, 44, 0.7);
}

/* --- INDIVIDUAL MOVIE --- */

.movie-poster {
  border: 5px solid white;
  max-width: 340px;
}

.detail-group-container {
  color: white;
  display: flex;
  max-width: 1000px;
  margin: 0 auto;
  align-items: flex-end;
  padding-left: 60px;
  float: left;
  position: fixed;
  bottom: 60px;
}

.movie-details {
  margin-left: 2.5rem;
  width: 25vw;
}

.movie-voting-h1{
  display: inline;
}

.movie-voting {
  font-size: medium;
  color: yellow;
  margin-left: 1rem;
}

.btn-text {
  margin-left: 3rem;
  margin-top: 20%;
  padding: 0.5rem;
  color:white;
  cursor:pointer;
  background: transparent;
  border: none;
  font-size:1rem;
  border: 3px solid white;
  border-radius: 2rem;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.btn-text:hover {
  border: 2px solid white;
  transform: scale(1.5);
  transition: 0.5s ease; 
}

.btn-back {
  position: absolute;
  left: 0;
  color: white;
  text-decoration: none;
  font-size: 1.3rem;
  font-weight: bold;
  display: flex;
  text-shadow: 1px 1px black;
}

/*--- Mobile ---*/
@media (min-width: 375px) and (max-width: 667px) {

  .movie-poster {
    margin-bottom: 60%;
    margin-left: 12%;
    margin-right: 12%;
    border: 5px solid white;
    max-width: 200px;
  }
  
  .movie-summary {
  margin-left: 6%;
  bottom: 0;
  right: 10%;
  position: absolute;
  font-size: 10px;
  }
}

  /* ----  ipad --- */
  @media (min-width: 668px) and (max-width: 1023px) {
    .movie-container {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }
  
    .movie-poster {
      border: 5px solid white;
      height: 50%;
    }
    
    .detail-group-container {
      display: flex;
      margin-top: 22rem;
      color: white;
      align-items: flex-end;
      margin-bottom: 4rem;
    }
    
    .movie-details {
      margin-left: 2.5rem;
      width: 25vw;
    }
    
    .movie-voting-h1{
      display: inline;
    }
    
    .movie-voting {
      font-size: medium;
      margin-left: 1rem;
    }
  }
  
/* ----  computer --- */
@media (min-width: 1024px) {
  .movie-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }

  .movie-poster {
    border: 5px solid white;
  }
  
  .detail-group-container {
    display: flex;
    margin-top: 22rem;
    margin-left: 3rem;
    align-items: flex-end;
    margin-bottom: 3rem;
  }
  
  .movie-details {
    margin-left: 2.5rem;
    width: 25vw;
  }
  
  .movie-voting-h1{
    display: inline;
  }
  
  .movie-voting {
    font-size: medium;
    margin-left: 1rem;
  }
}