* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: black;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.main-container {
  display: flex;
  flex-wrap: wrap;
}

.poster-image {
  width: 100%;
  height: 100%;
}

img {
  z-index: -2;
}

.movie-container {
  height: 100%;
  width: 100%;
  background: rgba(12, 12, 12, 0.756);
  opacity: 0;
  z-index: 2;
  position: absolute;
  bottom: 0%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.movie-container:hover {
  opacity: 1;
}

.movie-info {
  padding-left: 5%;
  z-index: 1;
  position: relative;
}

a {
  text-decoration: none;
  width: 25%;
  position: relative;
}

h1 {
  width: 90%;
  font-size: 3vw;
}

h1,
p {
  color: white;
}

.release-text {
  font-size: 2vw;
}

h3 {
  font-weight: normal;
}
