body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
  color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h2 {
  margin: 0;
}
p {
  margin: 0;
  padding-bottom: 5px;
}
/* LIST PAGE */
.movies-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 1200px;
  margin: 0 auto;
}
.movie-item {
  position: relative;
}

.movie-item-info-wrapper {
  position: absolute;
  bottom: 0;
  right: 0;
  top: 0;
  left: 0;
  padding: 10px;
  color: white;
  visibility: hidden;
  background-color: rgba(0, 0, 0, 0.5);
}
.movie-item-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100%;
}

.movie-item:hover .movie-item-info-wrapper {
  visibility: visible;
}

/* DETAIL PAGE */

.movie-details-wrapper {
  color: white;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-size: 100%;
}
.movie-details {
  display: flex;
  max-width: 800px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;
  gap: 25px;
}
.movie-details .image-wrapper {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.movie-details .image-wrapper img {
  border: 5px solid #fff;
}

.detail-wrapper {
  max-width: 300px;
}

.truncated {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 300px;
}
.overview {
  line-height: 1.6;
}

/* Button */
.back-button {
  width: fit-content;
  font-weight: 700;
  cursor: pointer;
}

.movie-info {
  display: flex;
  gap: 20px;
  margin: 5px;
  color: rgb(166, 166, 166);
}

span.released {
  color: rgb(129, 129, 129);
  font-size: small;
}
/* LOADER */

.loader {
  margin: 250px auto;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* MEDIA QUERIES */

@media screen and (min-width: 600px) {
  .movies-list {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .movie-details {
    flex-direction: row;
  }
}

@media screen and (min-width: 900px) {
  .movies-list {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .movie-details {
    flex-direction: row;
  }
}
