body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.movie-poster{
  max-width: 342px;
  min-width: 190px;
}

.single-movie-wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background: black;
  padding-top: 70px;
}

.movie-backdrop {
z-index: -1;
}

.movie-link {
  text-decoration: none !important;
  color: white;
  opacity: 1;
  max-width: 342px;
  min-width: 190px;
}

.single-movie-child {
  max-Width: 342px;
  min-Width: 190px;
  position: absolute;
  top: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.single-movie-child:hover {
  opacity: 1;
  backdrop-filter: brightness(0.5);
  transition: 0.4s ease;
}

.single-movie-child:hover {
  display: flex;
}

.details-wrapper{
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  height: 100vh;
  justify-content: space-around;
}

.movie-poster-details {
 margin-top: 100px;
 margin-bottom: 10px;
 margin-bottom: 5%;
 margin-left: 5%;
 max-width: 300px;
 min-width: 190px;
 }

.backBtn {
  display: flex;
  backdrop-filter: opacity(1);
  border-style: hidden;
  width: 50px;
  height: 50px;
  align-content: center;
  flex-wrap: wrap;
  align-items: center;
  font-size: 0;
  line-height: 0;
  border: none;
  background-color: transparent;
}

.backBtn img {
  display: block;
}

@media screen and (min-width: 800px) {

.single-movie-wrapper {
  padding-top: 80px;
}

.movie-poster-details {
 max-width: 342px;
}
  
.details-wrapper{
  display:flex;
  flex-direction: row;
  align-items: flex-end;
  height: 100vh;
}
.poster-info{
  align-items: baseline;
  margin-bottom: 5%;
  margin-left: 50px;
}
.synopsis{
  max-width: 70%;
  
  
}
.details-wrapper h2{
  align-self: flex-start;
  margin-bottom: 0;
}
}

@media screen and (max-height: 750px) {
  .synopsis {
    margin: 0;
  }

  .movie-poster-details {
    margin-bottom: 0
}
}