body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.header-title {
  color: white;
  text-align: center;
  font-size: 3.5rem;
}

.main-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1rem;
  margin: 1rem;
}

.movie-container {
  position: relative;
  display: flex;
  flex-direction: column;
}

.hover-group {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  opacity: 0;
  background-color: rgba(26, 24, 24, 0.925);
  border-radius: 25px;
}

.movie-container:hover .hover-group {
  opacity: 1;
}

.movie-title,
.release-date,
.moviedetail-title,
.movie-rating,
.movie-overview-text {
  color: white;
}

.movielist-image {
  width: 100%;
  border-radius: 25px;
}

.moviedetails-background {
  display: flex;
  align-items: flex-end;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.movie-poster {
  border: 3px solid white;
}

.moviedetails-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  margin: 0 2rem 3rem;
}

.moviedetail-text {
  display: flex;
  flex-direction: column;
  width: 30%;
  margin: 2rem;
}

.movie-rating {
  padding-left: 10px;
  color: red;
  font-size: 1rem;
}

.moviedetail-title {
  margin-bottom: 0;
}

button {
  appearance: none;
  position: absolute;
  top: 3rem;
  left: 2.5rem;
  width: 100px;
  height: 40px;
  border-radius: 25px;
  border: none;
  background: black;
  color: white;
  font-size: 1.2rem;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}