* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

header {
  display: flex;
  justify-content:space-around;
  align-items: center;
  height: 6em;
  background-color: #000;
}

.logo-image {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  margin: 10px 5px 10px 25px;
  /* margin-left: 25px;
  margin-right: 5px;
  margin-top: 10px; */
}

.logo-image:hover {
  cursor: pointer;
}

nav {
  width: 85%;
  display: flex;
  justify-content: space-around;
  gap: 2px;
}

nav a {
  padding: 2px;
}

.aboutus {
  height: 550px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.aboutus h2{
  font-family: 'Rubik Mono One', sans-serif;
}

.logo-image-aboutus {
  width: 300px;
  height: 300px;
  border-radius: 50%;
}

.logo-image-aboutus:hover {
  cursor: pointer;
  animation: rotation 3s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.loadingimage {
  width: 300px;
  height: 300px;
  display: inline;
  border-radius: 50%;
  left: 300px;
  animation: rotation 3s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.loading {
  display: flex;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

a.active {
  background-color: #f9475f7e;
}

.header-text {
  padding: 20px;
  font-family: 'Rubik Mono One', sans-serif;
  text-align: center;
  background-color: #000;
  color: white;
}

header a {
  color: white;
  text-decoration: none;
}

.notfound {
  padding: 300px;
  font-size:xx-large;
  text-align: center;

}

img {
  overflow-clip-margin: content-box;
  overflow: clip;
}

.movies-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 7px;
  background-color: #000;
}

.movies-wrapper h1, p {
  font-size: 10px;
}

.movies-wrapper a {
  display: flex;
  justify-content: center;
  width: 50%;
  position: relative;
}

.movieposter {
  width: 98%;
  object-fit: cover;
}

.card-info {
  display: none;
}

.release-date {
  display: block;
  position: absolute;
  left: 5%;
  bottom: 1%;
  color: white;
  padding: 5px;
 /* From https://css.glass */
  background: rgba(246, 17, 31, 0.11);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(2.8px);
  -webkit-backdrop-filter: blur(2.8px);
  border: 1px solid rgba(246, 17, 31, 0.3);
}


.details-page {
  display: flex;
  flex-direction: column;
  /* height: 100vh; */
  background-size: cover;
}

button {
  width: fit-content;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  padding: 5px;
  margin: 10px;
  background: rgba(246, 17, 31, 0.11);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(2.8px);
  -webkit-backdrop-filter: blur(2.8px);
  border: 1px solid rgba(246, 17, 31, 0.3);
  color: white;
  cursor: pointer;
}

.githubbutton {
  color: #000;
  font-size: larger;
  width: 280px
}

.githubbutton img {
  padding: 3px;
  margin: 5px;
}

.githubbutton p {
  align-self: center;
  font-size: large;
}

.githubbutton:hover {
  color: white;
  background-color: rgba(255, 0, 0, 0.288);
}

button img {
  width: 30px;
}

button p {
  align-self: center;
}

.movie-card {
  color: white;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 20px;
  gap: 10px;
}

.movie-card img {
  width: 60%;
  align-self: center;
}

.text-details {
  padding: 10px;
}



.text-details {
  background-color: rgba(0, 0, 0, 0.41);
}

/* for tablet */
@media (min-width: 370px) and (max-width: 570px){
  
}

/* for big tablet to small computer*/
@media (min-width: 571px) and (max-width: 820px){
  
}

/* for big screen */
@media (min-width: 821px){

  header {
    height: 9em;
  }

  .logo-image {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin-left: 40px;
    margin-right: 5px;
  }

  .header-text {
    padding: 30px;
    font-size: 3rem;
  }

  button {
    margin: 30px;
  }

  nav {
    width: 90%;
    justify-content: flex-start;
    gap: 30px;

  }

  .aboutus {
    height: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .details-page {
    justify-content: space-between;
    height: 85vh;
  }

  .text-details {
    width: 60%;
  }

  .movie-card img {
    width: 40%;
    align-self: flex-end;
  }

  .movie-card {
    display: flex;
    flex-direction: row;
    width: 60%;
    padding: 30px;
    gap: 25px;
    align-items: flex-end;
  }

  .movies-wrapper a {
    width: 23%;
  }

  .release-date {
    display: none;
  }

  .card-info {
    display: none;
    background: rgba(0, 0, 0, 0.658);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left:0;
    padding: 20px;
    color: white;
  }

  .card-info h1 {
    font-size: 2em;
  }

  .card-info p {
    font-size: 0.8em;
  }

  a:hover .card-info {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-end;
  }


}
