*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

article{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  background: black;
  width:100%;
}


.movie-cover{
  width: 25%;
  height: 550px;
  background-size: cover;
}


.movie-details{
  display: none;
  margin: 12px;
}

.movie-link{
  /* height: auto; */
  width: 379px;
  position: relative;
}

.movie-link:hover .movie-details{
  display: block;
  position: absolute;
  align-self: flex-start;
  /* top: -150px; */
  top: -150px;
  text-decoration: none;
  margin: 12px;
  color: #FFF;
  font-family:'Roboto', sans-serif;
}
