
.moviestyle {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    /* width: 1224px;
    height: 650px; */
    height: 120%;
    width: auto;

    padding: 20px;
}

.info {
    padding-left: 20px;
}

article {
    width: 50%;
}
