
.moviestyle {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 110%;
    width: auto;
    padding: 40px;
}

.theMovie {
    display: flex;
    align-items: flex-end;
}

.info {
    padding-left: 20px;
}

article {
    width: 50%;
}

.navigation {
    display: flex;
    flex-direction: row;
}

a {
    color: white;
    text-decoration: none;
}
