h1, h2, h3 {
    display: inline;
    color: white;
    white-space: initial;
    overflow-wrap: normal;
}


.movies {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.movie {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 25%;
}


.movie:hover img {
    opacity: 0.3;
    transition: 0.2s;
    z-index: 0;
}

.movie img {
    width: 100%;
    height: auto;
}


.movieinfo {
    position: absolute;
    visibility: hidden;
}

.movie:hover .movieinfo {
    visibility: visible;
    bottom: 0px;
    left: 0px;
    margin: 10px;
    z-index: 2;
}


