.backdrop-holder {
  width: 100%;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}

.movie-cover-detail {
  width: 90%;
  border: white solid 5px;
}

.album-cover {
  width: 250px;
}

.movie-card {
  display: flex;
  align-items: baseline;
  flex-direction: column;
  margin: 40px;
}

.movie-info {
  color: white;
  font-weight: 500;
  letter-spacing: 0.5px;
  width: 90%;
}

.rating {
  color: red;
  font-weight: lighter;
  font-size: 20px;
}

.title-detail {
  font-size: 20px;
}

.info-detail {
  font-size: 15px;
}

.navButton {
  width: fit-content;
  margin: 30px 0 0 30px;
  color: white; 
  text-decoration: none;
  font-size: 28px;
  font-weight: bolder;
}

.navButton:hover {
  transition: ease-in-out 0.2s;
  
}

.navButton:hover .icon {
  transition: 0.2s ease-in-out;
  margin-right: 7px;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.notFound {
  color: white;
  font-size: 36px; 
  display: flex;
  justify-content: center;
}




@media only screen and (min-width: 1000px) {
  .movie-cover-detail {
    width: 80%;
    border: white solid 7px;
  }

  .title-detail {
    font-size: 28px;
  }

  .info-detail {
    font-size: 20px;
    margin-bottom: 0;
  }

  .movie-info {
    width: 30%;
  }

  .movie-card {
    align-items: flex-end;
    justify-content: end;
    flex-direction: row;
    margin: 70px;  
  }

  .backdrop-holder {
    height: 100%;
  }

  .album-cover {
    width: 350px;
  }
}