
.moviestyle {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    height: 120%;
    width: auto;
    padding: 20px;
}

.theMovie {
    display: flex;
    align-items: flex-end; 
}

.info {
    padding-left: 20px;
}

article {
    width: 50%;
}

.navigation {
    display: flex;
    flex-direction: row;
    align-items: center;
}

a {
    color: white;
    text-decoration: none;
}
