/***** mobile first *****/
* {
    box-sizing: border-box;
  }

  body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
      "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: black;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
      monospace;
  }

.movie-details-section {
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.movie-background {
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  opacity: 0.8;
}

.details-image {
    display: flex;
    width: 250px;
    border: 5px solid #fff;
    margin-bottom: 10px;
    margin-left: 50px;
}

.movie-details-text {
    background-color: rgba(0, 0, 0, 0.615);
    padding: 5px;
    color: white;
    font-size: 1.2em;
    margin: 50px;
}

.movie-summary {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}

.title {
    font-size: 17px;
}

.back-button {
    display: flex;
    justify-content: center;
    align-self: flex-start;
    margin: 70px 0px 20px 0px;
    background-color: transparent;
    color: black;
    padding: 0.3em 0.5em;
    border: none;
    border-radius: 1em;
    cursor: pointer;
}
.back-button img {
  width:55px;
  height:55px;
  background-color: white;
  border-radius: 50%;
  padding:5px;
}

.back-button:hover{
  transform: scale(1.1);
  transition: transform 0.4s;
}

/***** TABLET *****/
@media (min-width: 668px){
    .movie-background {
        background-size: cover;
        height: 100vh; 
      }

      .movie-details-title {
        display: flex;
        flex-direction: row;
        
      }

      .movie-summary {
        display: flex;
        align-items: flex-end;
        height: 100%;
        flex-direction: row;
        padding: 50px;
        margin: 0;
        
      }
  

    }

/***** DESKTOP *****/
@media (min-width: 1025px) {

    .movie-background {
        
        height: 100vh;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        position: relative;
        opacity: 0.8;
    }

    .movie-details-section {
        position: absolute;
        display: flex;
        flex-direction: column;
    }

    .movie-summary {
      display: flex;
      align-items: flex-end;
      height: 100%;
      flex-direction: row;
      padding: 50px;
      margin: 0;
    }

    
  }