article{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  background: black;
}

img{
  width: 360px;
  height: auto;
}

img:hover{
  opacity: 50%;
}


.movie-list{
  width: 360px;
}


.movie-details{
  display: none;
  margin: 12px;
}

.movie-link{
  /* height: auto; */
  /* width:350px; */
  position: relative;
}

.movie-link:hover .movie-details{
  display: block;
  position: absolute;
  align-self: flex-start;
  /* top: -150px; */
  top: -150px;
  text-decoration: none;
  margin: 12px;
  color: #FFF;
  font-family:'Roboto', sans-serif;
}
