article{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  background: black;
}

.movie-link{
  height: 300px;
  width:auto;
  position: relative;
}
.movie-details{
  display: none;
  margin: 12px;
}

.movie-link:hover{
  /* background: black; */
  opacity: 50%;
}

.movie-link:hover .movie-details{
  display: block;
  position: absolute;
  align-self: flex-start;
  /* top: -150px; */
  top: -100px;
  text-decoration: none;
  margin: 12px;
  color: #FFF;
  font-family:'Roboto', sans-serif;
}