
/* .details-container {
  background-color: white;
} */

/* .movie-title h1, .movie-overview p, .movie-rating p {
    color: white;
    z-index: 4;
    background-color: blue;
  }  */

  /* .movie-title {
    color: white;
  }

.background-img {
    object-fit: cover;
    width: auto;
    height: 100%;
  } */
