.nav-styling{
 position: absolute;
 top: 70px;
 left: 60px;
 text-decoration: none;
 color: #ffffff;
 font-size: 20px;
 font-weight: bold;
 margin: 0;
 display: flex;
 align-items: center;
}

.nav-styling:visited{
  text-decoration: none;
}

.nav-styling:active{
  text-decoration: none;
}


.nav-styling:hover .icon svg{
  margin-right: 12px;
}

.icon svg{
    margin-right: 5px;
    height: 30px;
    width: auto;
    fill: #FFF;;
    transition: all 0.2s ;
  }