.movie-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  
  .movie-container a {
    width: 25%;
    color: red;
    text-decoration: none;
    position: relative;
  }
  
  .movie-container a img  {
    width: 100%;
  }
  
  .movie-container .cover-text{
    position: absolute; 
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.75);
    display: none;
    padding: 20px;
  }
  
  .cover-text{
    position: absolute; 
  }
  
  .movie-container a:hover .cover-text {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: flex-end;
  }
/*  
  @media screen and  (max-width: 768px) {
        
    .movie-container a {
      width: 50%;
    }
  } */
  
  