.film-card {
width: 100%;
margin: 0;  
display: flex;
position: relative;
background-color: black;
justify-content: center;
overflow: hidden;
}

.film-card:hover .film-poster {
    opacity: .2 !important;
}

.film-card:hover .poster-text {
    display: block;
}

.film-poster {
    width: 100%;
}

.seen {
    color: white;
   left: -50%;
   top: 20%;
    position: absolute;
    font-size: 50px;
 background: red;
 width: 200%;
 text-align: center;
    transform: rotate(-30deg);
    font-family: 'Permanent Marker'
}

.poster-text {
position: absolute;
align-self: center;
text-decoration: none;
color: white; 
padding: 15px;
display: none;
}

.film-title {
    font-size: 45px;
    margin-bottom: 0;
}

.release-date {
    font-size: 18px;
    font-family: helvetica;
    font-weight: lighter;
    margin-top: 8px;
}


@media (min-width: 680px) and (max-width: 1024px) {
    .film-card {
        width: 50%;
    }
   .poster-text {
       align-self: flex-end;
   }
   .film-card {
       justify-content: flex-start;
   }
}

@media (min-width: 1025px) {
    .film-card {
        width: 25%;
    }
    .poster-text {
        align-self: flex-end;
    }
    .film-card {
        justify-content: flex-start;
    }

    .film-title {
        font-size: 30px;
    }
}