.right-column-review {
    display: flex;
    flex-direction: column;
    color: white;
    width: 105%;
    align-items: flex-start; 
}
.review-link {
    color: white;
    text-decoration: underline;
}

.buttons-container {
    display: flex;
}

.no-reviews {
font-size: 24px;
}

@media (min-width: 680px) {
.right-column-review {
    width: 60%;
}
}