/* --- MOVIE --- */
.movie--wrapper {
  min-width: 100vw;
  min-height: calc(100vh - 65px);
  background-size: cover;
  background-position: left;
  padding: 35px 50px;
  color: #fff;
  background-color: #000;
}

.movie--details {
  display: flex;
  align-items: flex-end;
  position: absolute;
  bottom: 50px;
}

.movie--details--image {
  border: 5px solid #fff;
  width: 352px;
  height: auto;
}

.movie--details--textbox {
  max-width: 400px;
  margin-left: 20px;
}

.movie--details--title {
  margin: 20px 0;
  font-size: 32px;
}

.movie--details--rating {
  font-weight: 400;
  color: red;
  font-size: 16px;
  margin-left: 15px;
  background: #fff;
  padding: 4px 8px;
  word-break: keep-all;
}

.movie--details--description {
  margin-bottom: 20px;
}

/* --- BACK - BUTTON --- */
.movie--back-button {
  text-decoration: none;
  color: #fff;
  font-weight: 700;
  display: flex;
  align-items: center;
}

.movie--back-button--img {
  width: 30px;
  filter: invert(1);
}

.movie--back-button--text {
  transition: margin 0.2s ease-in-out;
  margin: 0 0 5px 5px;
}

.movie--back-button:hover .movie--back-button--text {
  margin: 0 0 5px 10px;
}

/* --- MEDIA QUERIES --- */
@media (max-width: 830px) {
  .movie--details--textbox {
    max-width: 300px;
  }

  .movie--details {
    position: static;
  }

  .movie--back-button {
    margin-bottom: 45px;
  }
}

@media (max-width: 768px) {
  .movie--wrapper {
    background-position: center center;
  }

  .movie-wrapper {
    padding: 35px 30px;
  }

  .movie--details {
    align-items: flex-start;
    flex-direction: column;
    bottom: 25px;
  }

  .movie--details--textbox {
    max-width: 80vw;
    margin: 0;
  }

  .movie--details--image {
    width: 250px;
  }
}

@media (max-width: 380px) {
  .movie--wrapper {
    padding: 35px 30px;
  }

  .movie--details {
    bottom: 5px;
  }
}

@media (max-width: 330px) {
  .movie--wrapper {
    padding: 35px 30px;
  }

  .movie--details {
    bottom: 5px;
  }

  .movie--details--title {
    font-size: 20px;
  }

  .movie--details--image {
    width: 150px;
  }
}
