.popularList {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.popularList  a {
    width: 100%;
    position: relative;
    color: white;
    text-decoration: none;
}

@media (min-width: 370px) {
    .popularList a {
      width: 50%;
    }
  }

  @media (min-width: 570px) {
    .popularList a {
      width: 33.33%;
    }
  }

  @media (min-width: 820px) {
    .popularList a {
      width: 25%;
    }
  } 

  .popularList a img {
    width: 100%;
  }

  .popularList .details {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.75);
    display: none;
    padding: 20px;
  }

  .popularList .details h1 {
    margin-top: auto;
    margin-bottom: 0;
  }

  .popularList a:hover .details {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: flex-end;
  }