.background-image {
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.info-summary {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30% 0 5% 5%;
}

.movie-poster {
  border: 5px solid whitesmoke;
  width: 40%;
}

.summary-wrapper {
  display: flex;
  flex-direction: column;
  width: 80%;
}

.name-rate {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

h3 {
  color: whitesmoke;
}

p {
  color: whitesmoke;
  font-size: 20px;
  text-align: justify;
}

.votes {
  color: red;
}

button {
  background: transparent;
  border: none;
  color: #fff;
  font-weight: 700;
  padding: 5px;
  font-size: 18px;
}

button:hover {
  margin-left: 5px;
  cursor: pointer;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  color: red;
}

.button-span {
  display: inline-flex;
  align-items: center;
  left: 50px;
  position: relative;
  top: 50px;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .summary-wrapper {
    margin-top: 10%;
  }

  .info-summary {
    margin: 10% 0 5% 5%;
  }

  h3 {
    font-size: 30px;
  }

  button {
    font-size: 20px;
  }
}

@media (min-width: 1025px) {
  .info-summary {
    flex-direction: row;
    padding-bottom: 5%;
    align-items: flex-end;
    margin: 15% 0 5% 5%;
  }

  .movie-poster {
    width: 25%;
  }

  .summary-wrapper {
    width: 35%;
    margin-left: 5%;
  }

  button {
    font-size: 30px;
  }
}
