.background-img {
  width: 100vw;
  height: 100vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

@media (min-width: 768px) {
  .background-img {
    background-size: cover;
  }
}
@media (min-width: 992px) {
  .background-img {
    background-size: cover;
  }
}
