.home-container{
    text-decoration: none;
    cursor: pointer;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
}


.ancor{
    text-decoration: none;
    cursor: pointer;
    width: 25%;
}