.background{
background-size: cover;
/* background-position: center; */
background-repeat: no-repeat;
/* height:710px; */
min-height: 100vh;
}
.details{
  color: white;
  padding: 15px 50px 50px 50px;
  display:flex;
}
.back-button svg{
  width:30px;
  margin-right: 2px;
  fill: white;
  /* background-color: white; */
  /* border-radius: 50%; */
  /* padding:5px; */
  /* margin: 5px; */
}

.back-button a{
  display:inline-flex;
  color: white;
  font-weight: bold;
  text-decoration: none;
  margin: 20px 30px 0 50px;
}
.back-button a:hover p{
  margin-left: 8px;
}
.back-button a p{
  transition: margin-left 0.2s ease-in-out;
}

.details img{
width:350px;
height: 500px;
border: 5px solid white;
}
.text-details{
  display:flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-left: 20px;
  width: 400px;
}
.text-details p{
  margin:0;
}
.text-details h2{
margin: 0 5px 0 0;
}
.text-details span{
  font-weight:normal;
  color:rgb(255, 73, 73);
  background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4));
  display:inline-flex;
  padding:2px 6px;
  border-radius: 8px;
  font-size: 18px;
}
.loader{
  border: 10px solid white;
  border-radius: 50%;
  border-top: 10px solid grey;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.loading-page{
  color:white;
  display:flex;
  flex-direction: column;
  /* justify-content: center; */
align-items: center;
margin-top:50px;
}
.genres{
  font-size: 12px;
  display: flex;
  flex-wrap: wrap;
  margin-top:5px;
}
.genres a{
  margin:0 5px 5px 0;
  padding: 2px;
  background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4));
  text-decoration: none;
  color:white;
  /* display: inline; */
}
.genres a:hover{
  background: white;
  color:black;
}
.similar-button{
color:black;
  background:white;
  border:2px solid black;
  margin-top:5px;
  font-weight: bold;
  padding: 2px 4px;
  border-radius: 6px;
}
.similar-button:hover{
  color:white;
  border: 2px solid white;
  background:black;
  cursor: pointer;
}