.moviePoster {
    display: flex;
    justify-content: center;
    margin-top: 20%;
}

img {
    width: 250px;
    border: solid white 2px;
    border-radius: 5px;
  }

  /*Tablet media query*/
@media (min-width: 667px) {
    img {
      width: 350px;
    }
  }
  
  
  /*Desktop media query*/
  @media (min-width: 1025px) {
    .moviePoster {
        justify-content: flex-start;
    }

    img {
      width: 400px;
    }
  }