.cast-details-top h1{
  color:white;
  margin-left: 15px;
  font-family: bavroregular;

}

.cast-details{
  display:flex;
  flex-wrap: wrap;
  background: #000;
}
.cast-details a{
  width: 25%;
  position: relative;
  text-decoration: none;
  color: #fff;
}

.cast-details .cast-details-summary {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0,0,0,0.75);
  display: none;
  padding: 20px;
}

.cast-details a:hover .cast-details-summary{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: flex-end;
  transition: 0.2s ease-in-out 0s;  
}

.cast-details a img {
  width: 100%;
}

.cast-details:hover .cast-details-summary a{
display:block;
}


.cast-details .cast-details-summary h1 {
  margin-top: auto;
  margin-bottom: 0;
}
