article {
  background: white;
}

.detail-page-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-repeat: no-repeat;
}

.backdrop-poster {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  z-index: -1;
  position: absolute;
  height: 750px;
  top: 0px;
  width: 100%;
  background-size: cover;
  background-image: linear-gradient(rgba(0, 0, 0, 0) 70%, rgb(0, 0, 0) 100%);
}

.poster {
  border: 3px solid white;
}

.movie-overview-container {
  display: flex;
  align-content: center;
  flex-direction: column;
}

.movie-overview {
  display: flex;
  align-items: flex-end;
  padding: 50px;
  margin-top: 100px;
}

.movie-summary {
  margin-left: 60px;
}

h2 {
  color: white;
}

span {
  margin-left: 30px;
  color: red;
  font-weight: normal;
  font-size: 18px;
}

p {
  width: 500px;
}

.home-button {
  margin-top: 30px;
  display: inline-flex;
  align-items: center;
  color: white;
  position: absolute;
  top: 20px;
  left: 40px;
}

i.fas {
  font-size: 25px;
  padding-right: 5px;
  transition: all 0.3s ease;
}

i.fas:hover {
  padding-right: 15px;
}

p.home {
  padding-left: 0px;
  font-weight: bold;
  transition: all 0.3s ease;
}

p.home:hover {
  padding-left: 10px;
}

.loading-message {
  display: flex;
  justify-content: center;
}

/* Responsive design for tablet size*/
@media (max-width: 600px) {
  .backdrop-poster {
    width: 375px;
  }

  .movie-overview {
    width: 300px;
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
  }

  .poster {
    position: relative;
    left: 44px;
    top: 50px;
    width: 200px;
  }

  .movie-summary {
    position: relative;
    width: 300px;
    top: 50px;
    left: 80px;
  }

  p {
    text-align: justify;
    width: 300px;
  }
}
