.section-container {
    display: flex;
    flex-wrap: wrap;
}

.section-container a {
    width: 100%;
}

@media (min-width: 550px) {
    .section-container a {
        width: 50%;
    }
}

@media (min-width: 1024px) {
    .section-container a {
        width: 25%;
    }
}