.movies-container {
  display: flex;
  width: 100%;
  flex-direction: column;
  flex-wrap: wrap;
}
a {
  color: #fff;
  text-decoration: none;
}
.movie-wrapper {
  position: relative;
  flex-wrap: wrap;
  width: 25%;
  margin-bottom: -4px;
}
.movie-wrapper img {
  width: 100%;
}
.movie-info {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: flex-end;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  padding: 18px;
}
.movie-info:hover {
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.75);
  transition: 0.2s ease-in-out;
}

p {
  font-size: 18px;
  margin-bottom: 3px;
}
h2 {
  margin-bottom: 1px;
}
.loader {
  border: 26px solid rgb(118, 118, 158);
  border-top: 26px solid rgb(121, 170, 121);
  border-radius: 50%;
  margin: 40px auto;
  width: 100px;
  height: 100px;
  animation: spin 1.9s linear infinite;
}

/* MEDIA QUERIES */

@media (min-width: 280px) and (max-width: 668px) {
  .movie-wrapper {
    width: 100%;
  }
  p {
    font-size: 16px;
  }
  h2 {
    font-size: 18px;
  }
}
@media (min-width: 669px) and (max-width: 1024px) {
  .movie-wrapper {
    width: 50%;
  }
  p {
    font-size: 16px;
  }
  h2 {
    font-size: 18px;
  }
}
