.movie-wrapper{
  display: grid;
  grid-template-columns: 1fr;
  position: relative;
  width: 100%;
  justify-content: center;
  margin: 0 auto;
}

@media screen and (min-width:768px) {
  .movie-wrapper {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (min-width:1024px) {
  .movie-wrapper {
    grid-template-columns: repeat(4, 1fr);
    max-width: 1370px;
  }
}

/* @media screen and (min-width:1300px) {
  .movie-wrapper {
    grid-template-columns: repeat(4, 1fr);
    max-width: 1370px;
    

  }
} */