body {
    margin: 0px;
}

.backDrop {
    height: 100vh;
    background-position: center;
    display: flex;
    flex-wrap: wrap;
}

.aboutContainer {
    justify-content: flex-end;
   
}
.infoPoster {
    display: flex;
    justify-content: flex-end;
    border: 5px solid white;
    /* align-items: center; */
    position: absolute;
    bottom: 0;
    margin: 20px;
}
.titleInfo {
    color: white;
    font-size: 15px;
    position: absolute;
    bottom: 0;
    padding: 20px;
    margin-left: 20%;
    width: 400px;

}

.movieTitle {
    display: flex;
}

.movieVotes {
    color: red;
    display: contents;
    font-size: 12px;
}




