body {
  background-color: black;
}
.moviesWrapper {
  display: flex;
  flex-wrap: wrap;
}
.movieWrapper {
  width: 25%;
  box-sizing: border-box;
  display: inline-block;
  height: auto;
  position: relative;
}
.movieImage {
  object-fit: cover;
  transition: ease-in-out 0,5s;
  width: 100%;
}
.movieWrapper:hover .movieImage {
  opacity: 0.2;
}
.titleDate {
  position: absolute;
  top: 0%;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  color: white;
  -webkit-transition: opacity 0.1s ease-in-out;
  -moz-transition: opacity 0.1s ease-in-out;
  -o-transition: opacity 0.1s ease-in-out;
  transition: opacity 0.1s ease-in-out;
  width: 90%;
  height: auto;
  opacity: 0;
  padding-left: 18px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-bottom: 15px;
}
h1 {
  margin: 0;
}
p {
  margin-top: 12px;
}
.movieWrapper:hover .titleDate {
  opacity: 1;
}
.movieLink {
  text-decoration: none;
}