.movie-details-main-container {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: flex-end;
  background-size: cover;
}

.movie-details-background {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-size: cover;
}

.poster-and-movie-details {
  display: flex;
  align-items: flex-end;
  color: #fff;
  padding: 0 0 30px 50px;
}

.poster-and-movie-details>img {
  width: 342px;
  border: 5px solid #fff;
}

.title-rate-overview {
  width: 342px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-left: 20px;
  background: rgba(0, 0, 0, .55);
  padding: 5px;
}

h1 {
  margin-bottom: 10px;
  font-weight: 700;
}

span {
  color: red;
  font-size: 17px;
  margin-left: 10px;
  font-weight: 500;
  background: rgb(255, 255, 255, 0.8);
  padding: 0 2px;
}

h2 {
  font-size: 17px;
  font-weight: 400;
  margin-bottom: 10px;
}