.movie-thumb{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 85vh;
}

.details-wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  color: #fff;
}

.details-text-wrapper{
  display: flex;
  align-items: flex-end;
  padding: 50px;
} 


.detail-text-wrapper{
  margin-left: 20px;
}

.detail-movie-img{
  width: 75%;
  border: 5px solid white;
}

.movie-details-overview, 
.movie-details-vote{
  color: #fff
}

@media screen and (min-width:768px) {
  .movie-thumb {
    grid-template-columns: repeat(2, 1fr);
  }

  .details-wrapper{
    flex-direction: row;
    align-items: flex-end;
    padding: 50px;
  }

  .detail-text-wrapper{
    margin-left: 20px;
    width: 400px;
  }
}

@media screen and (min-width:1024px) {
  .detail-movie-img{
    width: 25%;
  }
}