/* Styling for MovieList */

.list-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.movie-card-container {
  position: relative;
}

.movie-card-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.75);
  padding: 20px;
  display: none;
  z-index: 3;
}

.movie-card-container:hover .movie-card-overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.movie-card-text {
  color: #fff;
  margin: 10px;
}

.movie-title {
  text-align: center;
}

.movie-release-text {
  text-align: center;
}
