.movie-detail-container {
  background-color: black;
  min-height: 100vh;
  margin-top: -50px; /* to compensate for the sticky nav, is there a better method? */ 
  background-repeat: no-repeat;
  background-size: cover;
  color: white; 
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 50px;
  box-sizing: border-box;  
}

.backlink {
  margin-top: 50px;
  width: fit-content;
  vertical-align: middle;
  text-decoration: none;
  font-weight: bold;
  color: white; 
  z-index: 2;
}

.backlink span{
  transition: 0.2s ease-in-out;
}
.backlink:hover span{
  margin-left: 10px;
  transition: 0.2s ease-in-out;
}

.movie-info {
  display: flex;
  align-items: flex-end;
  z-index: 1;
}

.movie-info img {
  width: 342px;
  border: 5px solid white;
}

.info-text {
  margin-left: 20px;
  max-width: 400px;
}

.rating {
  font-size: 17px;
  font-weight: normal;
  color: red;
  margin-left: 15px;
}

.fade {
  /* display: none; */
  position: absolute;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100vw;
  background-image: linear-gradient(rgba(0, 0, 0, 0) 70%, rgb(0, 0, 0) 100%);
}

@media (max-width: 1024px) {

  .movie-detail-container {
  background-position: center;
  }

  .movie-info {
    flex-direction: column;
    align-items: flex-start;
  }

  .info-text {
    margin-left: 0;
    margin-top: 20px;
    max-width: 342px;
  }
}
