body {
  color: white;
}

span {
  color: red;
  font-size: 15px;
  margin-left: 10px;
}

.background {
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.summary {
  display: flex;
  align-items: flex-end;
  padding: 50px;
}

.summary img {
  border: 5px solid white;
}

.summary .text {
margin-left: 20px;
max-width: 400px;
}

h2 {
  font-size: 24px;
}