.movies-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background: #000;
}

.movie-card {
  width: 25%;
  height: 20%;
  position: relative;
  margin-bottom: 0px;
}

.movie-poster {
  width: 100%;
  object-fit: cover;
}

.movie-card-info {
  position: absolute;
  color: #fff;
  padding: 20px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
}

.movie-card-info h1 {
  font-size: 55px;
  font-weight: 700;
  line-height: 80%;
  /* margin-right: 8px; */
}
.movie-card-info p {
  font-size: 15px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0px;
  font-style: italic;
}
.movie-card-info h2 {
  font-size: 20px;
  margin: 0px;
  font-weight: 700;
}

.movie-title-text span {
  margin: 5px;
  /* display: none; */
}

.movie-card:hover .movie-card-info {

  display: flex;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

}