body {
  color: white;
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-size: cover;
  min-height: 100vh;
}

.backLink {
  display: flex;
  margin: 3em 0 0 3em;
  text-decoration: none;
  color: white;
  font-weight: bold;
  align-items: center;
}

.arrow {
  width: 2em;
  margin-right: 0.6em;
}

.movieInfo {
  display: flex;
  align-items: flex-end;
  margin: 1.5em 0 3em 3em;
}

.movieDetail {
  margin-left: 1em;
  max-width: 40%;
}

.heading {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  margin-bottom: 0.6em;
}

.heading h2 {
  margin-left: 0.8em;
}
