body {
    margin: 0px;
}

.infoContainer {
    width: 100%;
    align-content: center;
    text-align: left;
    position: relative;
  }

.backDrop {
    justify-content: center;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.infoContainer .backLink {
    position: absolute;
    display: inline-flex;
    color: #fff;
    align-items: center;
    font-weight: 700;
    text-decoration: none;
    left: 50px;
    top: 20px;
}

.backLinkImg {
    width: 10%;
}

.backLink:hover svg {
    margin-right: 10px;
}

.infoContainer .backLink svg {
    transition: margin-right .3s ease-in-out;  /**the anmation that makes the button move when hover**/
}

.infoContainer .infoBox {
    display: flex;
    position: absolute;
    align-items: flex-end;
    padding: 50px;
    bottom: 0px;
}

.infoPoster {
    float: left;
    border: 10px solid white;
}

.titleInfo {
    display: block;
    padding-left: 20px;
    justify-content: space-evenly;
}

.movieTitle {
    display: flex;
}

.movieVotes {
    color: red;
    display: contents;
    font-size: 12px;
}


