@import url('https://fonts.googleapis.com/css?family=Sen:400,700&display=swap');

body {
  background-color: #1a1a1a;
}

h1 {
  color: #fff;
}

h4 {
  color: #fff;
  top: 1.2em;
  left: 3.2em;
  align-self: center;
  position: absolute;
  font-size: 1.2em;
}

.hvr-forward {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-forward:hover, .hvr-forward:focus, .hvr-forward:active {
  -webkit-transform: translateX(8px);
  transform: translateX(8px);
}

.back-section:hover {
  opacity: 0.7;
}


.backdrop {
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
}

.backdrop-gradient {
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background: linear-gradient(to top, #1a1a1a 5%, transparent);
}

.content-container {
  display: flex;
  align-items: flex-end;
}

.details-poster {
  border: 5px solid #fff;
  width: 30%;
  height: auto;
  position: relative;
  top: 9em;
  left: 2em;
}

.title-and-rating {
  position: relative;
  top: 10em;
  left: 5em;
}

.rating {
  color: #ff6257;
  font-size: 1.2em;
}

.overview {
  color: #fff;
  text-shadow: 1px 1px 10px #2e2e2e;
  width: 300px;
}

@media (max-width: 886px) {
  .details-poster {
    width: 30%;
    height: auto;
    position: relative;
    top: 10em;
    left: 2em;
  }
}


@media (max-width: 769px) {
  .backdrop {
    background-position: center;
  }
}

@media (max-width: 720px) {
  .details-poster {
    display: none;
  }
  .title-and-rating {
    top: 20em;
    left: 5em;
  }
}

@media (max-width: 525px) {
  .title-and-rating {
    left: 2em;
  }
}

@media (max-width: 448px) {
  .overview {
    width: 250px;
    font-size: .8em;
  }
}