* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    overflow-x: hidden;
  }
  
.movie-card {
    width: 342px;
}

.movie-card-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100vw;
    background-color: #000;
}

.movie-card-wrapper  a {
    width: 25vw;
    position: relative;
    color: #fff;
    text-decoration: none;
  }

.text-box {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.7);
    padding: 20px;
    display: none;
}

.movie-card-wrapper .text-box h2 {
    margin-top: auto;
    margin-bottom: 0;
  }
  
.movie-card-wrapper a:hover .text-box {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-end;
  }