.movie-thumb-wrapper{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 85vh;
}

.details-wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: -webkit-fill-available;
  padding: 30px;
  color: #fff;
  width: 320px;
}

.details-wrapper img{
  width: 320px;
  height: 470px;
  border: 5px solid white;
}

.details-text-wrapper{
  display: flex;
  align-items: flex-end;
  padding: 50px;
  margin-left: 20px;
} 

.movie-details-vote{
font-weight: 800;
}

/*Loading page*/
.loader{
  border: 10px solid white;
  border-radius: 50%;
  border-top: 10px solid grey;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.loading-page{
  color:white;
  display:flex;
  flex-direction: column;
  align-items: center;
  margin-top:50px;
}


@media screen and (min-width:768px) {
  .movie-thumb-wrapper{
    grid-template-columns: repeat(2, 1fr);
  }

  .details-wrapper{
    flex-direction: row;
    align-items: flex-end;
    width: auto;
  }

  .details-wrapper img{
    width:350px;
    height: 500px;
  }

  .detail-text-wrapper{
    margin-left: 20px;
    width: 400px;
  }

  .movie-title{
    font-size: 2.2em;
  }

  .movie-details-vote {
    font-size: 1.5em;
  }

  .movie-details-overview{
    font-size: 1.3em;
  }
}

@media screen and (min-width:1024px) { 
  .movie-title{
    font-size: 2.5em;
  }

  .details-wrapper{
    padding: 50px;
  }

}