.movie-details-main-container {
  position: relative;
  display: flex;
  border: 1px solid green;
  justify-content: flex-end;
}

.movie-details-background {
  width: 100%;
}

.poster-and-movie-details {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  justify-content: flex-end;
  color: #fff;
  padding: 20px;
}

.poster-and-movie-details>img {
  width: 342px;
  border: 3px solid #fff;
}