
.movie-details {
    color: white;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.movie-details,
.backdrop {
background-size: cover;
height: 100vh;
display: flex; 
flex-direction: column;
justify-content: flex-end; 
}

.movie-information-wrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    padding: 50px;
}

.movie-information {
display: flex;
flex-direction: column;
padding: 20px;
}

h1 {
font-size: 45px;
margin-bottom: 0px;
}

h3 {
    color: red;
}

p {
font-size: 24px;
}

.poster {
    width: 100%;
}