* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    /* box-sizing: border-box;
    margin: 0px; */
    padding: 0px;
}

.backdrop {
    height: 100vh;  
    background-position: center;
    display: flex;
    flex-wrap: wrap;
    /* filter: brightness(85%);
    background: rgba(0,0,0,0.75); */
    /* filter:drop-shadow(8px 8px 20px gray); */
} 

.aboutContainer {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-self: flex-start; 
}

/* .movieInfo .backLink {
  position: absolute;
  display: inline-flex;
  color: #fff;
  align-items: center;
  font-weight: bold;
  text-decoration: none;
  left: 50px;
  top: 50px;
}

.movieInfo .backLink svg {
  width: 30px;
  transition: margin-right 0.2s ease-in-out;
}

.movieInfo .backLink:hover svg {
  margin-right: 5px;
} */

.infoPoster {
    display: flex;
    justify-content: flex-end;
    border: 7px solid white; 
    position: absolute;
    bottom: 3%;
    margin-left: 72px;
    margin-bottom: 45px;
}

.infoPoster img {
    height: 73vh;
    width: 49vh;
}

.titleInfo {
    display: block;
    flex-direction: column;
    box-sizing: border-box;
    color: #fff;
    font-size: 12px;
    position: absolute;
    bottom: 10%;
    margin-left: 39%;
    width: 250px; 
    justify-content: flex-end;
} 

.movieTitle {
    /* position: absolute; */
    margin-left: 80px;
    flex-direction: row;
    display: block;
    width: 250px;
    /* padding-right: 10px; */

    /* display: flex;
    flex-direction: column;
    flex-flow: wrap;
    display: inline; */
    font-size: 30px;  
}

.movieVotes {
    position: absolute;
    display: flex;
    flex-direction: row;
    color: red;
    margin-left: 255px;
    margin-top: -28px;
    font-size: 25px;
    /* flex-flow: wrap; */
    /* display: inline;   */
}

.movieInfo {
    display: inline-block;
    flex-direction: column;
    position: relative;
    margin-left: 80px;
    width: 200px;
    font-size: 25px;
}

.titleRelease {
    display: inline-flex;
    flex-direction: column;
    position: absolute;
    color: white;
    z-index: 2;
}

@media (max-width: 650px) {
    .movieInfo { 
        flex-direction: column;
        flex-grow: initial;
    }
}

@media (max-width: 1024px) {
    .backdrop {
        width: 100%;
    }    
         
}  