.movies-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
a {
  color: #fff;
  text-decoration: none;
}
.movie-wrapper {
  position: relative;
  width: 25%;
}
.movie-wrapper img {
  width: 100%;
}
