.movieinfo {
	background-size: cover;
	padding: 20px;
}

.movieinfo__container {
	display: flex;
}

.movieinfo__container img {
	border: 5px solid #fff;
}

.movieinfo__container__description {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	color: #fff;
	padding: 50px;
	max-width: 500px;
}

.movieinfo__container__description__title {
	display: inline-block;
}

.movieinfo__container__description h1 {
	font-size: 30px;
}

.movieinfo__container__description span {
	color: #fb2323;
	font-size: 20px;
}
