.movie-list {
    display: flex;
    flex-wrap: wrap;
}

.movie-thumb {
    width: 40%;
    flex-grow: 1;
    border: 1px solid black;
    margin-bottom: 10px;
}

.moviethumb-image {
    width: 300px;
}