header {
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  padding-bottom: 10px; ;
}

header h1 {
  font-size: 28px;
  margin-left: 20px;
  font-weight: normal;
}

header a {
  color: white;
  text-decoration: none;
  cursor: pointer;
  margin-left: 20px;
}

i {
  margin-right: 10px;
}
