.popular-page {
  display: flex;
  flex-wrap: wrap;
}

.popular-page a {
  width: 25%;
  position: relative;
  color: #fff;
  text-decoration: none;
}

.popular-page a img {
  width: 100%;
}

.popular-page .details {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.75);
  display: none;
  padding: 20px;
}

.popular-page .details h1 {
  margin-top: auto;
  margin-bottom: 0;
}

.popular-page a:hover .details {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: flex-end;
}
