.list-title {
    display: none;
}

.list-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background: black;    
    border: none;
}

.list-card {
    position: relative;
    flex-grow: 1;
    width: 25%;
}

a {
    border: none;
    position: relative;
    border: 2px solid black;
    border-bottom: none;
    border-top: none;
}

img {
    width: 100%;
}

.list-text {
    position: absolute;
    color: white;
    padding: 20px;
    bottom: 0;
    width: 80%;
}

.list-container img:hover {
    opacity: .2;
}

@media (min-width: 667px) {
    h2 {
        display: block;
    }
}


