.popular-movie {
  background-color: black;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.popular-movie a {
  position: relative;
  width: 25%;
  color: #fff;
  text-decoration: none;
  z-index: 1;
}

.popular-movie a img {
  width: 100%;
  /* filter: brightness(1); */
  z-index: 0;
}

.popular-movie .details {
  position: absolute;
  top: 210px;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 20px;
  width: 100%;
}

.details {
  z-index: 2;
  opacity: 0;
}

.popular-movie .details h2 {
  margin-top: auto;
  margin-bottom: 0;
  font-size: 35px;
}

.popular-movie-detail:hover img {
  filter: brightness(15%);
}

.popular-movie-detail:hover .details {
  display: block;
  opacity: 1;
}

@media only screen and (max-width: 1080px) {
  .popular-movie .details {
    top: 100px;
    font-size: 15px;
  }
  .popular-movie .details h2 {
    font-size: 25px;
  }
}

@media only screen and (max-width: 755px) {
  .popular-movie .details {
    font-size: 14px;
  }
  .popular-movie .details h2 {
    font-size: 19px;
  }
}

@media only screen and (max-width: 720px) and (min-width:300px) {
  .popular-movie .details {
    font-size: 10px;
    top: 10px;
  }
  .popular-movie .details h2 {
    font-size: 15px;
  }
}