* {
  margin: 0;
  box-sizing: border-box;
}

.movie-list-container {
  display: flex;
  flex-wrap: wrap;
  background-color: black;
}
.movie-card {
  position: relative;
  width: 100%;
}

.movie-title-date {
  display: none;
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  top: 0;
  color: white;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.682);
  flex-direction: column;
  justify-content: flex-end;
}

.date-movie {
  margin-top: 20px;
}
.movie-card:hover .movie-title-date {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.movie-image {
  width: 100%;
}

@media (min-width: 768px) {
  .movie-card {
    width: 50%;
  }
}

@media (min-width: 992px) {
  .movie-card {
    width: 25%;
  }
}
