.movieList {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}

h1 {
  color: white;
  font-weight: 900;
  margin-bottom: 10px;
}

@media screen and (min-width: 600px) {
  .movieList {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 800px) {
  .movieList {
    grid-template-columns: repeat(4, 1fr);
  }
}

