.back-button-wrapper {
/*   position: absolute;
  top: 10;
  left: 50; */

}

.back-button {
  color: white;
  position: absolute;
  top: 10px;
  left: 35px;
  font-weight: 700;
  font-size: 22px;

  
}

/****** MEDIA QUERIES FOR RESPONSIVE DESIGN ******/
@media (min-width: 668px) {
  .back-button {
    top: 70px
  }

}

@media (min-width: 900px) {

}