.detailsPage {
  display: grid;
	grid-template-columns: repeat(1, 1fr);
}

.detailsPage .background {
    min-height: 100vh;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    width: 100vw;
  }
  
  .back-btn {
    position: absolute;
    display: inline-flex;
    color: #fff;
    align-items: center;
    font-weight: 700;
    text-decoration: none;
    left: 72px;
    top: 58px;
    appearance: none;
    border: none;
    background-color: transparent;
    transition: 0.3s;
    font-size: 20px;
    cursor: pointer;
}

.back-btn:hover {
  padding-left: 12px;
}

.fa-chevron-circle-left {
  position: absolute;
  display: inline-flex;
  color: #fff;
  left: 56px;
  top: 60px;
  font-size: 20px;
}

.detailsPage img {
    border: 5px solid #fff;
    max-width: 350px;
    height: auto;
  }
  
  .detailsPage .summary {
    display: flex;
    align-items: flex-end;
    padding: 50px;
  }
  
  .detailsPage .details {
    margin-left: 20px;
  }
  
  .detailsPage .details p {
    max-width: 400px;
  }
  
  .detailsPage .rating {
    font-size: 17px;
    font-weight: bold;
    color: red;
    margin-left: 10px;
  }


  /* tablet */
  @media (min-width: 768px) {
    .detailsPage .background {
      background-position: 50%;
      }
  }


  /* mobile */
  @media (max-width: 767px) {

    .detailsPage .background {
    height: 100vh;
    }

.detailsPage img {
  display: none;
}

.detailsPage .summary {
  padding: 20px;
}


  }
  


  
