.rating {
    color: grey;
}

.star {
    width: 15px;
    margin-right: 5px;
}

.backdrop {
    width: 100vw;
    height: 100vh;
    position: absolute;
}

.details-wrapper {
    position: relative;
    padding: 50px;
}

.white {
    color: white;
}

.overview {
    max-width: 80vw;
}