.details-backdrop {
  object-fit: cover;
  background-repeat: no-repeat;
}

.details-backdrop-container {
  min-height: 100vh;
  display: flex;
  background-size: cover;
  flex-direction: column;
  justify-content: flex-end;
}

.details-backdrop-container h3 {
  font-style: italic;
}

.details-img {
  border: 5px solid #fff;
}

.details-container {
  display: flex;
  align-items: flex-end;
  padding: 50px;
}

.details-text {
  /*margin-left: 20px;*/
  color: #fff;
}

.details-text h2 {
  font-size: 26px;
  max-width: 500px;
  margin: 0 0 10px 20px;
}

.details-text h3 {
  font-size: 20px;
  max-width: 500px;
  margin: 0 0 10px 20px;
}

.details-text p {
  font-size: 16px;
  max-width: 500px;
  margin: 25px 0 0 20px;
}

.fa-back {
  vertical-align: middle;
}
