.error {
    background: black; 
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 25px;
}

.error-text { 
    color: white;
    font-size: 50px;
    align-self: center;
    justify-self: center;
    text-align: center;
}

@media (max-width: 700px) { 

    .error-text {
        font-size: 25px;
    
    }
  
  }