.error {
    background: black; 
    width: 100vw;
    height: 100vw;
    display: flex;
    flex-direction: column;
    padding: 25px;
}

.error-text { 
    color: white;
    font-size: 50px;
    align-self: center;
    justify-self: center;
}