.footer-container {
    background-color: rgba(15, 7, 7, 0.541);
    position: relative;
    top: 14vh;
    width: 100vw;
    padding: 5px;
}

.footer-title {
    color: rgb(255, 90, 61);
    text-align: center;
    line-height: 3px;
}

@media (min-width: 768px) {
    .footer-container {
        top: 8vh;
    }
}