footer{
  display:flex;
  justify-content: center;
  margin: 15px;
  padding: 10px;
  color: #fff;
  text-align: center;
  font-size: 0.9em;
}

.footer-info{
  margin: 8px 0;
}

@media screen and (min-width:768px) {
  footer {
    padding: 20px;
    font-size: 1em;
    margin: 0;
  }

  .footer-info{
    margin: 0;
  }

}

