.header-container {
    background-color: rgb(255, 57, 43);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    padding: 5px;
    display: flex;
    justify-content: space-between;
}

.header-title {
    font-family: 'Monoton';
    font-weight: 400;
    font-size: 35px;
    margin: 0;
    margin-left: 10px;
    color: black;
    transition: .2s ease-in-out;
    text-shadow: 1px 1px 12px rgba(0, 0, 0, 0.685), 1px 1px 7px rgba(0, 0, 0, 0.685);
}

.header-title:hover {
    color: white;
}

.header-title:active {
    color: black;
}

.media-icons {
    width: 45px;
    margin-top: 5px;
    opacity: .9;
    cursor: pointer;
    transition: .2s;
}

.media-icons:hover {
    transform: translateY(-5px);
}

.media-icons-container {
    display: none;
}

@media (min-width: 768px) {
    .media-icons-container {
        display: initial;
    }
}