.header {
	padding: 10px;
	background-color: black;
	color: white;
}

.header a {
	color: white;
}

.header span {
	font-size: 30px;
}

.nav-links {
	display: flex;
	justify-content: space-between;
}

