header {
    padding: 7px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.header-title-container {
    display: flex;
    align-items: center;
    padding: 5px;
}

.film-icon {
    fill: #fff;
    height: 40px;
    margin-right: 10px;
}

.header-title {
    color: #fff;
    margin: 0;
    font-size: 24px;
}

.logo {
    padding: 20px;
    width: 130px;
    background: rgba(0, 0, 0, 0.7);
    border-radius: 3px;     
}