header {
    color: #fff;
    padding: 7px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    padding: 20px;
    width: 130px;
    background: rgba(0, 0, 0, 0.7);
    border-radius: 3px;     
}