.back-link {
    position: absolute;
    display: inline-flex;
    color: #fff;
    text-shadow: aqua;
    align-items: center;
    font-weight: bold;
    text-decoration: none;
    left: 50px;
    top: 50px;
  }
  
  .back-link svg {
    width: 30px;
    transition: 1s;
    margin-right: 5px;
    transition-timing-function: cubic-bezier(0.13, 1.9, 0, 1);
  }
  
  .back-link:hover svg {
    margin-right: 10px;
  }
  
  @media (max-width:650px) {
    .back-link {
      position: relative;
  }
  }