.movielist {
  display: flex;
  flex-wrap: wrap;
}
.movielist {
  position: relative;
}
.movie-list-container a img {
  width: 100%;
  height: 100%;
}
.movie-list-container {
  width: 50%;
  position: relative;
}
.movie-card {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  transition: 0.25s ease;
  background: rgba(0, 0, 0, 0.75);
  display: flex;
}
.movie-list-container:hover .movie-list-container:active.movie-card {
  opacity: 3;
}
.movietext {
  align-self: flex-end;
  color: rgba(255, 255, 255, 0.61);
  margin-left: 20px;
  margin-bottom: 20px;
}

@media (min-width: 768px) {
  .movie-list-container {
    width: 30%;
  }
}

@media (min-width: 1024px) {
  .movie-list-container {
    width: 25%;
  }
  movie-card {
    transition: 0.25s ease;
    background: rgba(0, 0, 0, 0.75);
  }
}
