nav {
  height: 40px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 10px;
  padding: 10px;
  color: white;
}

.menuDropdown {
  display: flex;
  align-items: center;
}

.menuDropdown select {
  font-size: 16px;
  height: 30px;
  width: 200px;
  background-color: rgb(255, 255, 255);
  color: rgb(54, 54, 54);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.menuDropdown select:focus {
  outline: none;
}

.sorting {
  margin-right: 20px;
  font-size: 18px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.listContent {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  margin: 0px;
  padding: 0px;  
}

.listContent a {
  position: relative;
  width: 25%;
  text-decoration: none;
  z-index: 1;
}

.movies img {
  width: 100%;
  z-index: 0;
  transition: all .4s ease-in-out;
}

.listContent .infoAbout {
  position: absolute;
  bottom: 20px;
  padding: 20px;
  width: 100%;
}

.infoAbout {
  position: absolute;
  display: none;
  z-index: 2;
  text-decoration: none;
  color: white;
  padding: 15px;
}

.movies:hover img {
  filter: brightness(40%);
}

.movies:hover .infoAbout {
  display: block;
}

.movieTitle {
  font-size: 24px;
  padding-right: 20px;
}

p {
  font-size: 16px;
}

.loading {
  display: flex;
  justify-content: center;
  margin-top: 200px;
}

a {
  text-decoration: none;
}

@media (max-width: 1024px) {
  .listContent a {
    width: 33%;
  }
}

@media (max-width: 680px) {
  .listContent a {
    width: 50%;
  }
}