.movie-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background: rgba(0, 0, 0, 0.75);
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.movie-and-text {
  position: relative;
  display: flex;
}

.details-container {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  z-index: 10;
  padding: 20px;
}

.details-container:hover {
  background: rgba(0, 0, 0, 0.75);
  transition: 0.2s;
  opacity: 1;
}

.movie-and-text:hover {
  color: white;
}

.hover-text {
  visibility: hidden;
  margin: 5px;
}

.details-container:hover .hover-text {
  color: white;
  visibility: visible;
}
