.details-backdrop {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.details {
  display: flex;
  margin: 10px 50px 50px 50px;
}

.details-poster {
  display: none;
}

.details-info {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  margin: 20px;
  /* max-width: 300px; */
  max-height: 100%;
  overflow: hidden;
  color: whitesmoke;
}

.details-title-votes {
  display: flex;
  align-items: baseline;
}

.votes {
  color: darkred;
  padding: 10px;
}

.back-icon {
  display: flex;
  gap: 5px;
  align-items: center;
  margin: 20px 50px 0 50px;
  text-decoration: none;
  color: whitesmoke;
}

.back-icon svg {
  height: 50px;
}

.back-icon:hover h2 {
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  transform: translateX(10px);
}

@media (min-width: 668px) {
  .details {
    max-height: 60%;
  }

  .details-info {
    max-width: 300px;
  }

  .details-poster {
    display: flex;
    border-style: solid;
    border-width: 5px;
    border-color: white;
  }
}
