/* Styling for MovieList */

.list-container {
  display: flex;
  flex-wrap: wrap;
}

.list-container {
  position: relative;
}

.movie-card-container a img {
  display: block;
  width: 100%;
}

.movie-card-container {
  width: 50%;
  position: relative;
}

.movie-card-overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  transition: 0.25s ease;
  background: rgba(0, 0, 0, 0.75);
  display: flex;
  justify-content: center;
}

.movie-card-container:hover .movie-card-overlay {
  opacity: 1;
}

.movie-card-text {
  align-self: flex-end;
  color: #fff;
}

.movie-title,
.movie-release-text {
  text-align: center;
}

@media (min-width: 767px) {
  .movie-card-container {
    width: 33%;
  }
}

@media (min-width: 1024px) {
  .movie-card-container {
    width: 25%;
  }
}