.movie-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  margin: 0px;
  padding: 0px; 
}

.movie-image {
  display: flex;
  /* flex-grow: 1; */
  position: relative;
  text-decoration: none;
  z-index: 1;
  margin: 0px;
  padding: 0px;
}

.movie img {
  width: 100%;
  z-index: 0;
  transition: all 0.3s ease-in-out;
  margin: 0px;
  padding: 0px;
}

.movie-image:hover {
  filter: brightness(50%);
}

.movie-image:hover + .title-relasedate-box {
  display: block;
}

.title-relasedate-box {
  position: absolute;
  display: none;
  z-index: 1;
  text-decoration: none;
  color: white;
  padding-right: 20px;
  background-color: rgba(0, 0, 0, 0.131);
  align-content: flex-start;
}

.movie-release {
  color: white;

  font-size: 25px;
  padding-left: 40px;
  font-family: "Lucida Console", Courier, monospace;
}

.movie-name {
  color: white;
  font-family: "Lucida Console", Courier, monospace;
  font-size: 40px;
  max-width: 480px;
  text-align: center;
  font-weight: bold;
}
/* 
@media (max-width: 680px) {
  .movie-list {
    display: flex;
    flex-direction: column;
    
  }
}

@media (max-width: 1024px) {
  .movie-list {
    display: flex;
    flex-direction: row;

  }
} */

