.bio-section {
  display: flex;
  align-items: flex-end;
  position: absolute;
  padding: 50px;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.poster-detail-image {
  display: flex;
  width: 300px;
  align-self: center;
  border: solid #ffffff 5px;
}

.bio-container {
  margin: 0 0 130px 20px;
  max-width: 400px;
}

.detail-title {
  color: #ffffff;
  font-size: 24px;
}

.rating {
  margin: 0 0 0 10px;
  color: #ff0000;
  font-size: 17px;
  font-weight: normal;
}

.detail-overview {
  color: #ffffff;
  line-height: 1,5px;
}

/******** Responsive ***********/

/* For tablet: */
@media (min-width:700px) and (max-width: 1024px) {

  .bio-section {
    margin-top: 100px;
  }
  
  .poster-detail-image {
    margin-left: 10px;
    width: 300px;
  }

}

/* For mobile: */
@media (max-width:699px)  {

  .bio-section {
    flex-wrap: wrap;
    margin-top: 100px;
  }

  .poster-detail-image {
    width: 220px;
  }

}

