body {
    margin: 0px;
    background-color: black;
    color: white;
}

* {
    box-sizing: border-box;
    margin: 0px;
}

.movie-section {
    display: flex;
    flex-wrap: wrap;
}

.movie-section a {
    width: 25%;
    flex-direction: column;
    position: relative;
}

.movie-poster {
    z-index: 1;
    width: 100%;
}

.movie-info {
    z-index: 2;
    color: white; 
    display: flex;
    flex-direction: column;
    position: absolute;
    opacity: 0;
}

.movie-poster:hover {
    filter: brightness(30%);
}

.movie-poster:hover .movie-info a{
   display: block;
   opacity: 1;
}