.movie-list {
  background-color: #000;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.list-movie-link {
  color: #fff;
  position: relative;
  width: 25%;
}

.list-movie-poster {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.list-movie-details {
  display: flex;
  flex-direction: column;
  left: 0;
  height: 100%;
  justify-content: flex-end;
  padding: 0 1.5rem;
  position: absolute;
  top: 0;
  visibility: hidden;
  width: 100%;
}

.list-movie-link:hover .list-movie-details {
  background-color: rgba(0,0,0,0.7);
  visibility: visible;
}

.list-movie-title {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.list-movie-release-date {
  margin-bottom: 2rem;
}