.review-container {
   position: relative;
}

.review-container .background-img {
    min-height: 100vh;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.review-container .back-link {
    position: absolute;
    display: inline-flex;
    color: #fff;
    align-items: center;
    font-weight: 700;
    text-decoration: none;
    left: 50px;
    top: 50px;
}

.back-link-img {
    width: 10%;
}

.background-img {
    /* background-size: cover; */
    /* width: 100%;
     height: auto; */
    /*min-height: 100vh; */ /*från technigos kod */
    /* flex-direction: column; */
    /* justify-content: flex-end; */
    z-index: -1;
    /* display: flex; */
    /* background-image: linear-gradient(rgba(0, 0, 0, 0) 70%, rgb(0, 0, 0) 100%),url(https://image.tmdb.org/t/p/w1280/zTxHf9iIOCqRbxvl8W5QYKrsMLq.jpg); */
  /* background-image: linear-gradient(black white); */
  max-width: 1382px;
  max-height: 1269px;
  width: auto;
  height: auto;
}

.review-container .review-section {
    position: absolute;
    bottom: -11px;
    
}

.review-section {
display: flex;
flex-direction: row;
z-index: 0; 
width: 90%;
height: fit-content;
align-items: flex-end; /** makes the text and pic align**/
padding: 40px;
}

.poster-img {
    height: fit-content;
    border: 5px solid #fff;
}

button {
    z-index: 1;
    align-self: flex-start;
}

.text-field {
    height: fit-content;
    color: #fff;
    padding-left: 10px;
}

.title-vote {
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

h1 {
    font-size: 3vW;
}

span {
color: red;
font-weight: 800;
padding-left: 15px;
}