.container {
	display:flex;
	flex-wrap:wrap;
    width:100vw;
    justify-content: center;
    background-color: var(--gray-black);
}

.overlay{
    position: relative;
}

.image{
    width:100%;
}

.movie-details{
    display:flex;
    flex-direction: column;
    justify-content: flex-end;
    position: absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    transition: 0.5s ease;
    opacity: 0;
    background: rgba(1,1,1,0.64);
    color:white;

}



.movie-details:hover{
    opacity:1;
}

.movie-title{
    margin:0 0 5% 5%;
    font-size: 32px;
    font-weight: bolder;
}

.movie-release{
    margin:0 0 5% 5%;
    font-size: 16px;
}
