article {
  display: flex;
  flex-flow: row wrap;
  justify-content: center; 
}

.mainSection {
  width: 25%;
  display: flex;
  flex-flow: row wrap;
  text-align: center;
}

.imageSection {
  position: relative;
}

.imageSection:hover {
  opacity: 0.5;
  -webkit-transition: opacity 0.4s ease-in-out;
  -moz-transition: opacity 0.4s ease-in-out;
  -o-transition: opacity 0.4s ease-in-out;
  transition: opacity 0.4s ease-in-out;
}
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity 0.4s ease-in-out;
  -moz-transition: opacity 0.4s ease-in-out;
  -o-transition: opacity 0.4s ease-in-out;
  transition: opacity 0.4s ease-in-out;
} 

.overlay h2{
  text-align: center;
  color: white;
  position: absolute;
  bottom: 20px;
  left: 0;
  right: 0;
}

.overlay p {
  font-size: 35px;
  font-weight: bold;
  text-align: center;
  color: red;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0; 
}

.imageSection:hover .overlay {
  visibility: visible;
  opacity: 1;
}