.movie-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  margin: 0px;
  padding: 0px; 
}

.movie-image {
  display: flex;
  position: relative;
  text-decoration: none;
  z-index: 1;
  margin: 0px;
  padding: 0px;
  width: 100%;
}


.movie-link{
  width: 100%;
}
.movie-image:hover {
  filter: brightness(50%);
}

.movie-image:hover + .title-release-box {
  display: block;
}

.title-release-box {
  position: absolute;
  display: none;
  z-index: 1;
  text-decoration: none;
  color: white;
  padding-right: 20px;
  background-color: rgba(0, 0, 0, 0.131);
  align-content: flex-start;
}

.movie-release {
  color: white;
  font-size: 25px;
  padding-left: 40px;
  font-family: "Lucida Console", Courier, monospace;
}

.movie-name {
  color: white;
  font-family: "Lucida Console", Courier, monospace;
  font-size: 40px;
  max-width: 480px;
  text-align: center;
  font-weight: bold;
}

@media (min-width: 680px) {
  .movie-link{
  width: 50%;
}
.movie-release {
  font-size: 20px;

}
.movie-name {
  font-size: 30px;
 

}
}
@media (min-width: 1024px) {
  .movie-link{
  width: 25%;
}
.movie-release {
  font-size: 15px;
 
}
.movie-name{
  font-size: 20px;
  padding-left: 35px;
 
}

} 