.background-image {
  min-height: 100vh;
  display: flex;
  background-size: cover;
  flex-direction: column;
  justify-content: flex-end;
  width: 100%;
  object-fit: cover;
}

.gradient {
  background: rgb(0, 0, 0);
  background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(255, 255, 255, 1) 78%);
  background: linear-gradient(0deg, rgb(0 0 0 / 70%) 0%, rgb(255 255 255 / 36%) 78%);
}

.movie-wrapper {
  position: relative;
  box-sizing: border-box;
  min-height: 400px;
}

.movie-wrapper::before {
  content: "";
  background: linear-gradient(0deg, rgb(0 0 0 / 100%) 0%, rgb(0 0 0 / 70%) 10%, rgb(255 255 255 / 36%) 78%);
  position: absolute;
  top: 0px;
  left: 0;
  bottom: 0;
  right: 0;
}

.movie-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.poster {
  border: 5px solid white;
  max-width: 230px;
  display: flex;
}

.text-details {
  margin-left: 14px;
}

.title-wrapper {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.movie-rating {
  font-size: 16px;
  margin-left: 10px;
  margin-top: 2px;
  font-weight: bolder;
  color: crimson;
}

h1 {
  font-size: 1em;
  margin-top: 20px;
}

p {
  max-width: 200px;
}

.back-button-container {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: baseline;
  font-size: 20px;
  margin-top: 10px;
}

.back-button-container a {
  color: black;
}

.back-button-container:hover {
  animation: popup 0.7s;
}

.chevron-icon {
  width: 20px;
  height: 20px;
}

/* https://stackoverflow.com/questions/40549227/how-to-create-a-pop-up-animation-with-a-modal-using-css/40549695 */
@keyframes popup {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.4);
  }
  60% {
    transform: scale(1.1);
  }
  70% {
    transform: scale(1.2);
  }
  80% {
    transform: scale(1);
  }
  90% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

@media (min-width: 767px) {
  .back-button-container {
    font-size: 26px;
    left: 50px;
  }
  p {
    max-width: 400px;
    font-size: 18px;
  }
  h1 {
    font-size: 1.5em;
  }
  .text-details {
    margin-left: 30px;
  }
  .movie-rating {
    font-size: 20px;
  }
  .movie-wrapper {
    min-height: 800px;
  }
  .movie-wrapper::before {
    content: "";
    position: absolute;
    background: linear-gradient(0deg, rgb(0 0 0 / 100%) 0%, rgb(0 0 0) 10%, rgb(255 255 255 / 38%) 100%);
    top: 0;
    left: 0;
    right: 0;
  }
  .movie-details {
    display: flex;
    align-items: flex-end;
    position: absolute;
    justify-content: flex-start;
    top: 0;
    flex-direction: unset;
  }
  .poster {
    max-width: 50vw;
    display: inline-block;
  }
}
