.movie-backdrop {
  min-height: 90vh;
  background-size: cover;
  background-position: center;
}

.movie-detail-wrapper {
  display: grid;
  grid-template-rows: 1fr 3fr;
  min-height: 93vh;
  padding: 0 20px;
  background: rgba(0, 0, 0, 0.7);
  background: linear-gradient(rgba(0, 0, 0, 0.4) 20%, rgba(0, 0, 0) 100%);
}

.back-link {
  align-self: flex-start;
  display: flex;
  align-items: center;
  margin: 10px 0;
}

.back-link:hover svg {
  margin-right: 5px;
  -webkit-transition: margin-right .2s ease-in-out;
  transition: margin-right .2s ease-in-out;
}

.back-link-text {
  padding-left: 5px;
  color: #fff;
  font-weight: 700;
}

.movie-detail-poster {
  align-self: flex-end;
  border: 2px solid #fff;
  height: 300px;
}

.movie-title {
  /* margin-top: 20px; */
  font-size: 1.5em;
}

.movie-rating {
  color: red;
  font-size: 17px;
  font-weight: 400;
}

.movie-overview {
  max-width: 400px;
}

.production-companies-title {
  font-size: 14px;
  font-weight: normal;
}

.production-companies {
  list-style: none;
  margin: 0;
  padding-left: 0;
  font-family: 'Quicksand', sans-serif;
  font-size: 11px;
}

.company {
  background: rgba(33, 150, 243, 0.3);
  display: block;
  margin-right: 5px;
  margin-bottom: 5px;
  padding: 0.3rem 0.5rem;
  text-decoration: none;
  transition-duration: 0.5s;
}

.company:hover,
.company:focus-within {
  background: #2196f3;
  cursor: pointer;
}


@media (min-width: 750px) {
  .movie-detail-wrapper {
    padding: 0;
    grid-template-rows: 50px 2fr;
  }

  .back-link {
    align-self: center;
    margin-left: 50px;
    padding-top: 0;
  }

  .movie-detail-container {
    display: flex;
    align-items: flex-end;
    margin: 0 50px;
  }

  .movie-detail-poster {
    height: 400px;
    margin-bottom: 50px;
  }

  .movie-summary {
    margin-bottom: 50px;
    margin-left: 20px;
  }

  .movie-overview {
    max-width: 600px;
  }
}