body {
  margin:0;
}
a {
  text-decoration:none;
  color:#fff;
}
.movie-list-container{
  background-color: #000;
  display:flex;
  flex-wrap:wrap;
  margin:0;
}

.movie-thumb {
  width:25%;
  height:auto;
  position:relative;
  margin:0;
}
.movie-thumb-image{
  width:100%;
  position:relative;
}
.overlay {
  background-color:rgba(0,0,0,0.0);
  position:absolute;
  width:100%;
  height:100%;
  top:0;
  left:0;
  z-index:1;
  opacity:0;
}
div.details {
  padding-bottom:0;
}
.movie-thumb:hover .overlay {
  transition:opacity 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  background-color:rgba(0,0,0,0.6);
  opacity:1
}
.movie-thumb-text{
  height:100%;
}
.movie-thumb-text {
  display: flex;
  flex-direction:column;
  justify-content: flex-end;
  padding-left:20px;
}
.movie-thumb-text h1 {
  font-size:32px;
  margin:0;
}

@media (max-width:768px){
  .movie-thumb{
    width: 33.33%;
  }
  .movie-thumb-text h1 {
    font-size:24px;
  }
  span p{
    font-size:18px;
  }
}

@media (max-width:375px){

  .movie-thumb{
    width: 50%;
  }
  .movie-thumb-text h1 {
    font-size:18px;
  }
  span p{
    font-size:12px;
  }
}