/* Styling for MovieList */

.list-container {
  display: flex;
  flex-wrap: wrap;
}

.list-container a {
  width: 50%;
  position: relative;
}

.list-container a img {
  width: 100%;
}

.movie-card-container {
  position: relative;
}

.movie-card-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.75);
  padding: 20px;
  display: none;
  z-index: 3;
}

.movie-card-container:hover .movie-card-overlay {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  flex-direction: column;
}

.movie-card-text {
  color: #fff;
  margin: 10px;
}

.movie-title,
.movie-release-text {
  text-align: center;
}

@media (min-width: 767px) {
  .list-container a {
    width: 33%;
  }
}

@media (min-width: 1024px) {
  .list-container a {
    width: 25%;
  }
}