.details-page{
  min-height: 100vh;
  background-size: cover;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;
  color: white;
}

.homepage-link {
  position: absolute;
  display: inline-flex;
  align-items: center;
  font-weight: 700;
  text-decoration: none;
  left: 50px;
  top: 50px;
  color: white;
}

.back-button {
  width: 30px;
  transition: 0.3s ease;
}


.back-button:hover {
  margin-right: 5px;
}

.movie-wrapper {
  display: flex;
  align-items: flex-end;
  padding: 50px;
}

.poster-image {
  width: 352px;
  height: auto;
  border: 5px solid white; 
}

.movie-details {
  margin-left: 20px;
}

.movie-title {
  display: block;
  font-size: 2em;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

.movie-title .rating {
  font-size: 17px;
  color: red;
  font-weight: 400;
  margin-left: 10px;
}

.movie-overview {
  max-width: 400px;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}