.movie-card {
  width: 25%;
  position: relative;
  display: flex;
  background: #000;
}

.link {
  color: #fff;
}

.movie-img {
  width: 100%;
}

.movie-details {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 20px;
}

.movie-details:hover {
  background: rgba(0, 0, 0, .75);
  opacity: 1;
}

.movie-details>p {
  margin-bottom: 20px;
}

h1 {
  font-size: 30px;
}