img {
  width: 100%;
}

.poster {
  display: flex;
  align-items: flex-end;
  position: relative;
}

.posterInfo {
  display: flex;
  color: white;
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;

  flex-direction: column;
  justify-content: flex-end;
}

.posterInfo:hover {
  opacity: 1;
  background-color: rgb(0 0 0 / 75%);
}

.title {
  padding: 10px;
}
