img {
  width: 100%;
}

.poster {
  display: flex;
  align-items: flex-end;
  position: relative;
}

.poster:hover {
  filter: brightness(35%);
  top: 0;
}

.posterInfo {
  display: flex;
  color: white;
  position: absolute;
  width: 100%;
  height: 100%;

  opacity: 0;
  flex-direction: column;
  justify-content: flex-end;
}

.posterInfo:hover {
  opacity: 1;
}
