.grid-parent {
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }

  .title-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
  }

  .title {
    font-size: 26px;
    font-weight: bold;
    color: white;
    text-decoration: none;
    word-wrap: break-word;    
    line-height: 120%;
  }

  .release-date{
    font-size: 14px;
    color: white;
    text-decoration: none;
  }

  .movie-container {
    position: relative;
    width: 100%;
  }

  .poster {
    width: 100%;
    height: 100%;
    display: inherit;
    object-fit: cover;
  }
  
  .overlay-container{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0; /*This makes the div hover-img not be displayed*/
    pointer-events: none; /* so if you select you dont see the stuff placed inside */
    transition: .2s ease;
    padding: 20px;
  }

  .movie-container:hover .overlay-container {
    opacity: 1; /*When we hover over it, it is displayed*/
    pointer-events: all;
}

.movie-container:hover img {
  filter: brightness(0.3);
}


  /* MEDIA QUERY FOR TABLET*/
@media (min-width: 668px){
  .grid-parent {
    display: grid;   
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
 
  }
}

@media (min-width: 1024px){
  .grid-parent{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    
    }
  
  }
