* {
  box-sizing: border-box;
}

.movie-card-wrapper {
  width: 25%;
  position: relative;
  color: white;
}

.movie-card-text {
  position: absolute;
  z-index: 1;
  width: 100%;
  bottom: 0;
  padding: 20px;
}

.movie-card-text h2 {
  font-size: 32px;
}

.movie-card-text h3 {
  font-size: 16px;
  margin: 16px 0 16px 0;
  font-weight: normal;
}
