.backdrop {
    width: 100%;
    height: 100vh;
    background-size: cover;
    display: flex;
}

.movie-container-one {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    margin: 0 0 50px 70px;
    width: 300px; 
}

.movie-container-two {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    margin: 0 0 40px 70px;
    width: 300px; 
}
  
.movie-details img {
    width: 350px;
    height: 500px;
    object-fit: cover;
    border: 5px solid white;
    margin-top: 40px;
}

h1, p {
    color: white;
}

p {
    font-size: 15px;
}

.rating {
    color: orangered;
    font-size: 15px;
    margin-left: 5px;
}

.back-arrow {
    margin: 5px 5px 5px 5px;
    margin-bottom: 70%;
    width: 100%;
    transition: transform .3s ease-in-out;
}

.arrow {
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 5px;
}

.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

.back-arrow:hover {
      transform: translateX(15px);
}

.back-arrow p {
    font-size: 18px;
    font-weight: bold;

}

a {
    text-decoration: none;
}


@media (max-width: 700px) { 

    .backdrop {
        flex-direction: column;
        height: 100%;
    }

    .movie-container-one,
    .movie-container-two {
        width: 250px;
    }

    .movie-details img {
        width: 200px;
        height: 350px;
        margin-top: 20px;
    }

    
  
  }