h3 {
  margin: 0;
  font-size: 18px;
  color: #fff;
  font-weight: normal;
}

.menu-container {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 5;
}

.menu-trigger {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background: none;
  width: 200px;
  height: 30px;
  margin: 8px 20px 8px auto;
  padding: 4px 6px;
  border: none;
  outline: none;
  cursor: pointer;
}

.icon {
  height: 32px;
  fill: #fff;
  transition: 0.1s ease-in-out;
}

.menu-trigger:hover .icon {
  opacity: 0.6;
  transition: 0.15s ease-in-out;
}

.menu {
  position: absolute;
  width: 200px;
  top: 46px;
  right: 0;
  background: rgba(0, 0, 0, 0.6);
  opacity: 0;
  visibility: hidden;
}

.menu.active {
  opacity: 1;
  visibility: visible;
}

.menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu li {
  box-sizing: border-box;
  height: 40px;
  padding-top: 8px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.6);
}

.menu li:hover {
  background: rgba(0, 0, 0, 0.6);
  transition: 0.15s ease-in-out;
}

.menu li a {
  display: block;
  text-decoration: none;
  padding-left: 15px;
}
