.navbar {
  display: flex;
  flex-direction: row;
  height: 4vh;
  background-color: black;
  color: white;
  justify-content: flex-end;
  padding: 0px 40px 20px 0px;
  justify-content: flex-end;
}

.navbar a {
  text-decoration: none;
  color: white;
  margin-left: 30px;
}

.navbar p {
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
}

.navbar,
.back-arrow {
  font-size: 18px;
  transition: ease-in-out 1s;
}

.navbar,
.back-arrow:hover {
  cursor: pointer;
}

.current-page {
  cursor: default;
  color: grey;
  margin-left: 30px;
}
