.navbar{
  background-color: #000;
  height: 70px;
  width: 100%;
  position: fixed;
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

  h1.header-welcome{
    margin: 12px 0 8px 0;
    font-family: 'Nova Square', cursive;
    color: rgb(13, 144, 153);
    font-size: 30px;
    color: #fff;
    text-align: center;
    padding-left: 10px;
    animation: glow 5s ease-in-out infinite alternate;
  }
  
  @keyframes glow {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
    }
    
    to {
      text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
    }
  }

  /* mobile */
  @media (max-width: 767px) {
  .link-wrapper {
    display: none;
  }
}

  /* tablet */
  @media (min-width: 768px) {
    .navbar {
      align-items: center;
      height: 100px;
    }

    .link-wrapper {
      margin-bottom: 10px;
      display: flex;
      flex-direction: row;
      text-align: flex-start;
    }
    
    .navbar-links {
      text-decoration: none;
      color: #fff;
      margin-left: 30px;
      font-family: 'Roboto', sans-serif;
      font-size: 22px;
      letter-spacing: 2px;
    }
  
    .navbar-links:hover {
      border-bottom: 1.5px solid #ff4da6;
    }
  
    .navbar-links.active {
      border-bottom: 1.5px solid #ff4da6;
    }
  }

  /* desktop */
  @media (min-width: 1024px) {
  .navbar {
    height: 70px;
    width: 100%;
    position: fixed;
    z-index: 10;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .navbar-links {
    font-size: 30px;
  }

  .link-wrapper {
    margin-right: 10px;
  }

  h1.header-welcome{
    font-size: 35px;
  }
}

