.navbar {
  display: flex;
  flex-direction: row;
  height: 1vh;
  background-color: black;
  color: white;
  justify-content: flex-end;
  padding: 10px 40px 50px 0px;
  justify-content: flex-end;
}

.navbar a {
  text-decoration: none;
  color: white;
  margin-left: 30px;
}

.navbar a:after {
  content: "";
  display: block;
  margin: auto;
  height: 3px;
  width: 0;
  background: transparent;
  transition: width .5s ease, background-color .5s ease;
}

.navbar a:hover {
  color: #F2CB05;
}

.navbar a:hover:after {
  width: 100%;
  background: #F2CB05;
}

.navbar p {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}

.navbar,
.back-arrow {
  font-size: 18px;
  transition: ease-in-out 1s;
}

.navbar,
.back-arrow:hover {
  cursor: pointer;
}

.current-page {
  cursor: default;
  color: grey;
  margin-left: 30px;
}

