.not-found {
  text-align: center;
  margin-top: 100px;
  color: white;
}

.not-found h1 {
  font-size: 40px;
}

.not-found a {
  text-decoration: none;
  color: white;
  font-size: 20px;
  font-weight: bold;
}

.not-found span {
  font-size: 30px;
  margin: 10px;
}

.not-found a:hover {
  color: #f03a17;
}