/* .movies {
    display: flex;
    flex-wrap: wrap;
} */

.movies {
	display: grid;
	grid-gap: 5px;
	grid-template-columns: repeat(1, 1fr);
	grid-template-rows: 1fr;
	padding: 10px;
}


.movies a img {
    width: 100%;
}

.movies a {
   /*  width: 25%; */
    position: relative;
    color: #fff;
    text-decoration: none;
}


.movies .details {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.75);
    display: none;
    padding: 20px;
  }
  
  .movies .details h1 {
    margin-top: auto;
    margin-bottom: 0;
  }
  
  .movies a:hover .details {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-end;
  }


  
/* tablet */
  @media (min-width: 768px) {
    .movies {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  /* desktop */
  @media (min-width: 1024px) {
    .movies {
      grid-template-columns: repeat(4, 1fr);
    }
  }
  


  
