* {
  box-sizing: border-box;
}

.detailPage {
  position: relative;
}

/*element.style {
background-image: linear-gradient(rgba(0, 0, 0, 0) 70%, rgb(0, 0, 0) 100%)url(https://image.tmdb.org/t/p/w1280${movie.backdrop_path});
}*/

.detailPage .background {
  min-height: 100vh;
  /*display: flex;*/
  width: 100%;
  position: relative;
  /*background-size: cover;*/
  /*flex-direction: column;
  justify-content: flex-end;*/
}

a {
  text-decoration: none;
}

.detailPage p {
  color: #ffffff;
}

.detailPage svg {
  width: 10%;
}

.detailPage img {
  border: 5px solid #fff;
  width: 10%;
}