.movieDetail {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-end;
  padding: 50px;;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: linear-gradient(to bottom, rgba(255,0,0,0), rgba(255,0,0,1));
}

.movieImage {
  margin-right: 20px;
  border: 3px solid white;
}

h1 {
  margin: 20px 0px;
}

p, h1 { 
  color: white;
}

.movieDescription {
  max-width: 400px;
}

.movieVote {
  font-size: 20px;
  color: red;
  font-weight: normal;
  margin-left: 10px;
}