.bio-section {
  display: flex;
  color: white;
  align-items: center;
  min-height: 100vh;
}

.background-image {
  position: relative;
  background-size: cover;
  width: 100%;
  filter: brightness(0.3);
  top: 0;
  left: 0;
}

.back-button {
  color: white;
  position: absolute;
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  font-weight: bold;
  top: 70px;
  left: 50px;
}

.back-button svg {
  width: 30px;
  transition: 0.3s ease;
}

.back-button:hover svg {
  margin-right: 5px;
}

.content-container {
  display: flex;
  align-items: flex-end;
  position: absolute;
  padding: 0 50px;
}

.poster-image {
  border: solid white 6px;
}

.text-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-left: 40px;
}

h1 {
  margin: 0;
}

.rating {
  color: red;
  font-weight: normal;
  font-size: 16px;
  margin-left: 10px;
}

.movie-description {
  width: 400px;
  font-size: 18px;
}

/* Ipad */
@media (min-width: 651px) and (max-width: 1025px) {

  .content-container {
    padding: 0 30px;
  }

  .movie-description {
    width: 320px;
    font-size: 18px;
  }

  .back-button {
    top: 90px;
    left: 30px;
  }
}

/* Mobile */
@media (max-width: 600px) {
  
  .background-image {
    display: none;
  }

  .content-container {
    align-items: center;
    flex-direction: column;
  }

  .back-button {
    left: 100px;
    top: 1000px;
    margin-bottom: 50px;
  }
  
  .poster-image {
    margin-top: 200px;
  }
  
  .text-container {
    flex-direction: column;
    margin: 0 40px;
  }
  
  h1 {
    margin-top: 20px;
  }
  
  .rating {
    font-size: 16px;
  }
  
  .movie-description {
    width: 350px;
    font-size: 18px;
  }
}
