.about-section {
  display: flex;
  color: white;
  align-items: center;
  min-height: 100vh;
}

.background-image {
  position: relative;
  background-size: cover;
  width: 100%;
  filter: brightness(0.3);
  top: 0;
  left: 0;
}

.back-button {
  color: white;
  position: absolute;
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  left: 50px;
  top: 50px;
  font-weight: bold;
}

.back-button svg {
  width: 30px;
  transition: 0.3s ease;
}

.back-button:hover svg {
  margin-right: 5px;
}

.content-container {
  display: flex;
  align-items: flex-end;
  position: absolute;
  padding: 0 50px;
}

.poster-image {
  border: solid white 6px;
}

.text-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-left: 40px;
}

h1 {
  margin: 0;
}

.rating {
  color: red;
  font-weight: normal;
  font-size: 16px;
  margin-left: 10px;
  }

.movie-description {
  width: 400px;
  font-size: 18px;
}