.detailPage {
    position: relative;
}

.detailPage .background {
    position: absolute;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    justify-content: flex-end;
}

/* add button */
/* .back-btn:hover {
  padding-left: 12px;
}

.fa-chevron-circle-left {
  position: absolute;
  display: inline-flex;
  color: #fff;
  left: 56px;
  top: 100px;
  font-size: 20px;
  cursor: pointer;
} */

.summary {
    display: flex;
    align-items: flex-end;
    padding: 40px;
}

.detailText {
   padding-left: 15px;
}

.detailText p {
    max-width: 50%;
}

.rating {
    font-size: 14px;
    color: red;
    font-weight: 300;
}

.summary img {
    border: white solid 5px;
}

h2 {
    padding-bottom: 15px;
    font-size: 30px;
}

