.movieDetails {
  position: relative;
  overflow-x: hidden;
}

.cover {
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    background-size: cover;
    justify-content: center;
  }

.backLink {
    position: absolute;
    display: inline-flex;
    color: #fff;
    align-items: center;
    font-weight: 700;
    text-decoration: none;
    left: 15px;
    top: 15px;
  }

.backLink svg {
    width: 30px;
}

.backLink:hover svg {
  margin-right: 5px;
  transition: margin-right 0.2s ease-in-out;
}
  
.detailsContainer img {
  border: 5px solid #fff;
}

.detailsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 75px;
}

.detailsContainer h1 {
  text-align: center;
}

.movieSummary {
  margin-left: 20px;
}

.movieSummary p {
  max-width: 400px;
}
  
@media only screen and (min-width: 768px) {
  .cover {
    min-width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
  .backLink {
  left: 50px;
  top: 50px;
  }
  .detailsContainer {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    padding: 50px;
  }
  .detailsContainer h1 {
    text-align: left;
  }
}
  