.background {
  min-height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: flex-end;
}

section {
  position: relative;
  height: 100vh;
}

h1 {
  color: white;
}

.backButton svg {
  width: 30px;
  margin-top: 6px;
  margin-right: 5px;
  transition: ease-in-out 200ms;
}

.backButton {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: white;
  cursor: pointer;
  font-weight: bold;
  text-decoration: none;
  left: 50px;
  top: 50px;
  position: absolute;
}

.backButton:hover svg {
  margin-right: 15px;
}

.summary {
  display: flex;
  align-items: flex-end;
  padding: 50px;
}

.summary img {
  border: 5px white solid;
  margin-right: 15px;
}

.details span {
  color: red;
  font-size: 15px;
  margin: 10px;
  font-weight: 200px;
}

.details p {
  color: white;
  max-width: 500px;
  margin: 10;
}

.sorry,
.loading {
  margin: 100px;
}