body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
      "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
      monospace;
  }

  .relative {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: 0 50px; */
    height: 100vh;
    overflow: hidden;
  }

  .the-poo{
    font-size: 200px; 
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
  }
  
  .loading{
    /* padding: 20% 0; */
    font-size: 30px;
    text-align: center;
    margin-top: 90px;
    /* margin: auto; */
    color: black;
    height: 500px;
    animation-name: mymove;
    animation-duration: 3000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear; 
  }

  @-moz-keyframes mymove {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
  }
  @-webkit-keyframes mymove {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
  }
  @keyframes mymove {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
  }