.back-button {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  margin: 20px 0;
  padding: 0;
  border: 0;
  align-items: center;
  text-decoration: none;
  background: transparent;
  color: #fff;
  font: inherit;
  cursor: pointer;
}

.back-button:focus {
  outline: 0;
}

.back-button-icon {
  width: 30px;
  height: 30px;
  margin-left: 20px;
}

.back-button h4 {
  margin: 0;
  transition: margin-left 0.2s ease-in-out;
}

.back-button:hover h4 {
  margin-left: 5px;
}

@media (min-width: 767px) {
  .back-button {
    left: 50px;
    top: 20px;
  }
}
