.loading-container {
	width: 100vw;
	height: 100vh;
}

.loading-overlay {
	background-color: #212427;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

.loading-spinner {
	width: 70px;
	height: 70px;
	border: 7px solid rgba(255, 255, 255, 0.6);
	border-radius: 50%;
	border-left: 7px solid rgba(255, 255, 255, 0.9);
	animation: spinner infinite 0.5s;
	display: inline-block;
}

@keyframes spinner {
	0% {
		transform: rotate(0);
	}
	50% {
		transform: rotate(180deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
