.loader-overlay {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #000;
}

.loader-container {
    position: relative;
    display: flex;
    align-items: center;
    height: 135px;
}

.filmrolls {
    display: flex;
    position: absolute;
    top: -32px;
    left: 0;
}

.filmroll {
    animation: rotate 2s linear infinite;
  }

  @keyframes rotate {
    0% {
        transform: rotate(0)
    }
    100% {
        transform: rotate(360deg);
    }
}


