.background {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: flex-end;
  align-items: flex-start;
  background-size: cover;
}

.summary {
  display: flex;
  flex-direction: column;
  margin: 80px 0 50px;
  align-items: center;
  justify-content: flex-end;
}
.image {
  width: 70%;
}

.summary img {
  border: 5px solid #fff;
}

.rating {
  margin-left: 10px;
  font-size: 17px;
  font-weight: 400;
  color: #fa0000;
}

.movie-info {
  display: inline-block;
  max-width: 400px;
  margin-left: 20px;
  color: #fff;
  font-size: 16px;
}
.movie-info h2 {
  font-size: 20px;
}

@media (min-width: 767px) {
  .summary {
    flex-direction: row;
    margin: 50px;
    align-items: flex-end;
  }

  .image {
    width: auto;
  }

  .movie-info h2 {
    font-size: 24px;
  }
}
