
.movie-details {
    display: flex;
    align-items: flex-end;
    height: 100vh;
    color: white;
    padding: 50px;
    align-self: flex-start;
}

.background {
    box-sizing: border-box;
    z-index: -1;
    min-height: 100vh;
    min-width: 100%;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
}

.back-button {
    color: white;
    margin: 40px;
    position: absolute;
    display: inline-flex;
    align-items: center;
    font-weight: 700;
    left: 50px;
    top: 50px;
}

.poster {
    display: flex;
    border: 4px solid white;
}

.movie-info {
    display: flex;
    align-items: flex-end;
    align-self: flex-end;
}

.details {
    font-weight: 300;
    margin: 0;
    max-width: 30%;
    padding: 30px;

}

.vote {
    font-weight: 200;
    color: red;
}