* {
  outline: 1px solid red;
}

.summary-wrapper {
display: flex;
flex-direction: column;
padding: 10%;
color: #fff;
font-size: 16px;
row-gap: 20px;
}

.poster-img {
  width: 68%;
  border: 5px solid white;
}

.back-image{
  height: 100%;
  width: 5vw;
}

.background{
  min-height: 900px;
  width: auto;
}

.back-btn-div{
  margin: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  font-size: 16px;
  column-gap: 5px;

}

h1 {
  font-size: 24px;
  margin: 0;
}

.back-text{
  color:white;
  text-decoration: none;
  font-weight: bold;
}

.details-title h1, p {
  margin: 0;
}
.details-rating p {
  padding: 2px;
}

.details-rating {
  background-color: #fff;
  width: fit-content;
  color: #000;
  font-weight: 700;
  margin: 0;
}

@media (min-width: 668px) and (max-width: 1023px) {

  .back-text{
    font-size: 26px;
    margin-top: 3px;
    margin-left: 3px;
  }

  .back-image{
    width: 3.5vw;
  }

  .background{
    min-height: 1200px;
  }

}

@media (min-width: 1024px) {
  .back-image:hover{
    transform: scale(1.1);
  }

  .background{
    min-height: 1500px;
    width: auto;
  }
}
