
body {
    background-color: black;
}

.movie-wrapper {
    display: flex; 
    flex-direction: row;
    flex-wrap: wrap; 
}

.movie-wrapper a {
    width:25%; 
}

.movie-container {
    display: flex; 
    flex-direction: column; 
    justify-content: flex-end; 
    position: relative;
}
.cover-image {
    width: 100%; 
}

.cover-title {
    position: absolute; 
    padding-left: 1em;
    color: white; 
    z-index:10;
    display:block;
 }

  .release-date {
    margin-bottom: 30px; 
    font-size: 18px; 
    font-weight: 300; 
 }

.movie-container:hover .cover-title {
    display: flex;
    flex-direction: column; 
    background: rgba(0, 0, 0, 0.6);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    justify-content: flex-end;
}

.movie-container:hover {
    background: rgba(0, 0, 0, 0.6);
}

@media (min-width:667px) and (max-width: 1025px){
    .movie-wrapper a {
        width:50%; 
    }    
}

@media (max-width: 667px) {
    .movie-wrapper a {
        width:100%; 
    }
}
