.movieList {
  display: flex;
  flex-wrap: wrap;
}

.movieList a {
  width: 25%;
  position: relative;
  color: white;
}

.movieList a img {
  width: 100%;
}

.movieList .listDetails {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.75);
  display: none;
  padding: 20px;
}

.movieList .listDetails h1 {
  margin-top: auto;
  margin-bottom: 0;
}

.movieList a:hover .listDetails {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: flex-end;
}
