 .movie-container {
    display: flex;
    flex-direction: column;
    margin: 0;
 }
 
 .background {
    width: auto;
    height: 100vw;
    object-fit: cover;
}
.background img {
    object-fit: cover;
    overflow: hidden;
}

