.outer-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .inner-wrapper {
    display: flex;
    width: 100%;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .summary-wrapper{
    display: flex;
    flex-direction: column;
    width: 80%;
    position: absolute;
    top: 10%; 
    left: 10%;
    right: 10%;
  }

  .movie-wrapper{
    display:flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    width: 100%;
  }

  .poster-img{
    top: 10vw;
    left: 7vw;
    border: 5px solid white;
    width: 200px;
    height: 295px
  }
  
  .background-img {
    width: auto;
    height: 150%;
  }

  .background{
    width: 100%;
    height: 100%;
    position: relative;
}

/* .rating{
    width: 100px;
} */

.detail-div{
    width: 50%;
}

.back-image{
    height: 2vw;
    width: 2vw;
}

.back-btn-div{
    position: absolute;
    top: 20px;
    text-align: center;
    mix-blend-mode:luminosity;
    filter: drop-shadow(0.05em 0.05em white);
    font-size: 16px;
}

/* .backLink:active{
color: blue;
} */

.back-image:hover{
    height: 2.2vw;
    width: 2.2vw;
}