* {
  margin: 0 ;
  box-sizing: border-box;
}
.movies-container {
    display: flex;
    flex-wrap: wrap;
   justify-content: center;
   object-fit: cover;

  } 

.movie-poster {
    width: 100%;
    height: auto;
    position: relative;
} 

.movie-overlay {
  transition: 0.5s ease;
  display: flex;
  } 

.movie-text {
    position: absolute;
    transition: 0.5s ease;
    padding: 15px;
    display: none;
    box-sizing: border-box;
    color: white;
    width: 50%;
  }   

a:hover .movie-text {
  background: rgba(212, 111, 111, 0.75); 
  display: flex;
  margin: 0 auto;
}
