.movie-card {
    position: relative;
    width: 50%;
  }
  
  .movie-card a:hover::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4); /* Change the opacity value as desired */
    transition: 0.3s ease-in-out;
    z-index: 1; /* Set a positive z-index to move the pseudo-element in front of the image */
  }
  
  .movie-card img {
    width: 100%;
    position: relative;
    z-index: 0; /* Explicitly set z-index for the image */
  }
  
  .movie-card a:hover img {
    opacity: 0.5;
    transition: 0.3s ease-in-out;
  }
  
  .description {
    position: absolute;
    left: 20px;
    bottom: 20px;
    color: white;
    z-index: 2;
  }
  .movie-card a {
    text-decoration: none;
  }