.wrapper {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
}

.movie-wrap {
  width: 50%;
  position: relative;
}

.overlay {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 20px;
  justify-content: left;
  align-items: flex-end;
  color: white;
  background: rgba(0, 0, 0, 0.75);
}

.overlay h2 {
  font-size: 30px;
}

.movie-wrap:hover .overlay {
  display: flex;
}

.small-image {
  display: block;
  width: 100%;
}

@media (min-width: 767px) {
  .movie-wrap {
    width: 25%;
  }
}
