.detailsContainer {
position: relative;
}

.background a {
position: absolute;
display: flex;
align-items: center;
top: 50px;
left: 50px;
font-size: 1.7em;
font-weight: 700;
text-shadow: 2px 2px #000000d6;
}

.background a img{
    width: 30px;
    margin: 10px;
}

.background {
 min-height: 95vh;
 background-size: cover;
 background-repeat: no-repeat;
 background-position: center;
 display: flex;
 flex-direction: column;
 justify-content: flex-end;
}

.summary {
    display: flex;
    flex-direction: column;

}

.summary img{
    border: 5px solid antiquewhite;
    margin: 30px;
    width: 200px;
}

.details {
    display: flex;
    flex-direction: column;
    color: white;
    Margin: 30px;
    justify-content: flex-end;
    max-width: 90%;
}

.title {
    text-shadow: 2px 2px #000000cb;
    font-size: 2em;
}

.ratingRelease {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.rating, .released {
    display: inline;
}

.overview {
    margin-top: 20px;
    font-size: 1.1em;

}
/*===========  MEDIA QUERY  ---------------*/

@media (min-width: 668px) {
    .details {
        max-width: 40%;
    }

    .summary {
    flex-direction: row;
    }

    .summary img {
    width: 300px;
    }
}
    
@media (min-width: 1024px) {
    .summary img {
        width: 400px;
    }
    .details {
        max-width: 40%;
    }
}
