
.movies-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  }
  
.movie-overlay {
    transition: 0.5s ease;
    display: flex;
    background-color: rgba(0, 0, 0, 0.5);
    position: relative;
    height: auto;
    }  

.movie-poster {
    width: 50vw;
    position: relative;
    transition: opacity .5s ease;
  }

.movie-text {
    position: absolute;
    transition: opacity .5s ease;
    background-color: rgba(0, 0, 0, 0.5);
    margin-top: 0px;
    display: none;
    color: white;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }   

  .movie-text h1 {
    padding: 15px;
  }
  
 a:hover .movie-text {
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
 }

  a:hover .movie-poster {
  display: flex;
  }

.loader {
  color: white;
}

@media only screen and (min-width: 600px) {

.movies-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  width: 100%;
  height: 100%;
  overflow: hidden;
  } 

  .movie-poster {
    width: 25vw;
    height: auto;
    object-fit: cover;
  }
}