.not-found {
  background-image: url("../img/felix-mooneeram-evlkOfkQ5rE-unsplash.jpg");
  background-attachment: fixed;
  background-position: bottom;
  height: 82vh;
  background-size: cover;
}

.text-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 50px 20px 0 20px;
  left: 0;
}

@media (min-width: 375px) {
  .text-container {
    padding-top: 70px;
  }
}

@media (min-width: 600px) {
  .text-container {
    padding-top: 120px;
    font-size: 20px;
  }
}

@media (min-width: 1400px) {
  .text-container {
    padding-top: 70px;
  }
}
