.not-found {
  background: lightcoral; 
  display: flex; 
  color: black; 
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#not-found-text {
  font-size: 60px; 
  width: 700px; 
}

.ghost {
  color: white; 
}