
.movie-container {
    display: grid;
    grid-template-columns: 1fr;
	gap: 10px;
    justify-content: center;
    padding: 10px;
	background-color: #141414;
}

.img-container {
	position: relative;
  	width: 100%;
  	height: 100%;
}

.image {
	width: 100%;
	display: block;
}

.overlay {
	position: absolute;
    width: 100%;
    top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	opacity:0;
	text-align: center;
    
}

.overlay:hover {
	background: rgba(10, 10, 10, 0.5);
	opacity: 1;
}

.text {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width:100%;
    height: 12vh;
	text-align: center;
  	background-color: #ffffff10;
  	backdrop-filter: blur(12px);
  	-webkit-backdrop-filter: blur(12px);

}

/* a-selector crated by using Links  */
a {
	text-decoration: none;
	color: white;
}


/*===========  MEDIA QUERY  ---------------*/

@media (min-width: 668px) {
    .movie-container {
        grid-template-columns: repeat(2, 1fr);
    }
    
}
    
@media (min-width: 1024px) {
    .movie-container {
        grid-template-columns: repeat(4, 1fr);
    }
}