.movie-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  
  .movie-container a {
    width: 100%;
    color: white;
    text-decoration: none;
    position: relative;
  }
  
  .movie-container a img {
    width: 100%;
  }
  
  .cover-text {
    position: absolute;
    color: white;
    padding: 20px 20px 30px 20px;
    bottom: 0;
  }

  h1 {
    display: none;
    font-size: 45px;
  }

  /* FOR TABLET */
  @media screen and (min-width: 768px) {
    .movie-container a {
      width: 50%;
    }

    .movie-container a:hover .cover-text {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      justify-content: flex-end;
    } 

    .movie-container .cover-text{
      position: absolute; 
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: rgba(0,0,0,0.75);
      display: none;
      padding: 20px 20px 30px 20px;
      line-height: 30px;
    }

    h1 {
      font-size: 28px;
      display: inline-block;
    }
  
    h3 {
      font-size: 16px;
      font-weight: 200;
    }
  }

  /* FOR DESKTOP */
  @media screen and (min-width: 1024px) {
    .movie-container a {
      width: 25%;
    }
  }