.popularPage {
  display: flex;
  flex-wrap: wrap;
}

.popularPage a {
  width: 25%;
  position: relative;
  color: white;
  text-decoration: none;
}

.popularPage a img {
  width: 100%;
}

.popularPage .details {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  display: none;
  padding: 20px;
}

.popularPage a:hover .details {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: flex-end;
}