.main-page{
    display: flex;
    flex-wrap: wrap;
  }
  
.image-container {
    width: 100%;
    position: relative;
    background-color: black;
    color: #fff;
    text-decoration: none;
  } 
  
  .image-container img {
    width: 100%;
  }

  .overlay-detail{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,.75);
    display: none;
    padding: 20px;
  }

  .image-container:hover .overlay-detail{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-end;
  }

@keyframes mymove {
  50% {transform: rotate(180deg);}
}
  /* media query */

  @media (min-width: 370px) and (max-width: 570px){
    .image-container {
      width: 50%;
      position: relative;
      background-color: black;
      color: #fff;
      text-decoration: none;
    } 
  }
  
  @media (min-width: 571px) and (max-width: 820px){
    .image-container {
      width: 33%;
      position: relative;
      background-color: black;
      color: #fff;
      text-decoration: none;
    } 
  }
  
  @media (min-width: 821px){
    .image-container {
      width: 25%;
      position: relative;
      background-color: black;
      color: #fff;
      text-decoration: none;
    } 
  }