.movie-details-page{
  position: relative;
}

.background {
  min-height: 100vh;
  display: flex;
  background-size: cover;
  flex-direction: column;
  justify-content: flex-end;
}

.movie-info {
  color: #ffffff;
  padding: 50px;
  margin-left: 20px;
  display: flex;
  align-items: flex-end;
}

.movie-info-text {
  max-width: 400px;
  margin-left: 20px;
}

.voting {
  font-weight: 400;
  color: #ff4949;
  margin-left: 10px;
  font-size: medium;
}

.movie-poster {
  border: 5px solid #fff;
  width: 100%;
  max-width: 450px;
}

.back-link  {
  color: #ffffff;
  font-weight: 700;
  align-self: flex-start;
  display: inline-flex;
  margin: 20px 30px 0 50px;
  text-decoration: none;
  cursor: pointer;
}

.back-link-button a p {
  transition: margin-left 0.2s ease-in-out;
}

.back-link-button a:hover p {
  margin-left: 8px;
}

.back-link svg {
  width: 30px;
  margin-right: 2px;
  fill: #fff;
}

@media screen and (max-width: 667px) {
  .movie-info {
    display: block;
  }
}