.front-page {
    display: flex;
    flex-wrap: wrap;
}

.front-page a {
    width: 100%;
    position: relative;
    color: #fff;
    text-decoration: none;
}

.front-page a img {
    width: 100%;
}

.front-page .poster-hover-details {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.75);
    display: none;
    padding: 20px;
}

.front-page .poster-hover-details h1 {
    margin-top: auto;
    margin-bottom: 20px;
}

.front-page a:hover .poster-hover-details {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-end;
}


@media (min-width: 370px) {
    .front-page a {
        width: 50%;
    }
}

@media (min-width: 570px) {
    .front-page a {
        width: 33.33%;
    }
}

@media (min-width: 820px) {
    .front-page a {
        width: 25%;
    }
}