.movie-list-container {
  display: grid;
  flex-wrap: center;
  grid-template-columns: repeat(2, auto);
  row-gap: 10px;
}

@media only screen and (min-width: 668px) and (max-width: 1024px) {
  .movie-list-container {
    justify-content: space-evenly;
    grid-template-columns: repeat(4, auto);
  }
}

@media only screen and (min-width: 1025px) {
  .movie-list-container {
    justify-content: space-evenly;
    grid-template-columns: repeat(4, auto);
  }
}
