.movie {
  position: relative;
  width: 100%;
}

.movie img {
  display: block;
  width: 100%;
}

.overlay {
  width: 100%;
  background: rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 0;
  bottom: 0;
  display: block;
}

.movieDetails {
  position: absolute;
  left: 20px;
  bottom: 35px;
  margin-right: 20px;
}

@media (hover: hover) and (pointer: fine) {
  .movie {
    overflow: hidden;
  }
  .movie img {
    transition: transform 0.3s ease-in-out;
  }
  .movie:hover img {
    transform: scale(1.1);
  }
  .overlay {
    width: 100%;
    display: none;
    background: rgba(0, 0, 0, 0.5);
    overflow: hidden;
  }
  .movie:hover .overlay {
    display: block;
  }
}
