.list-wrapper {
  display: grid;
  grid-template-columns: 1fr;
}
.movie-info {
  display: none;
}

img {
  width: 100%;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .list-wrapper {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 1025px) {
  .list-wrapper {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 0;
    row-gap: 0;
  }

  h3 {
    margin: 0 0 5% 5%;
    font-size: 30px;
    font-weight: bolder;
  }

  p {
    margin: 0 0 5% 5%;
    font-size: 18px;
  }

  .overlay {
    position: relative;
  }

  .movie-info {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transition: 0.5s ease;
    opacity: 0;
    background: rgba(1, 1, 1, 0.64);
    color: whitesmoke;
  }

  .movie-info:hover {
    opacity: 1;
  }
}
