.list-wrapper {
  /* display: flex;
  flex-wrap: wrap; */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 0;
  row-gap: 0;
}

img {
  width: 100%;
}

.overlay {
  position: relative;
}

.movie-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transition: 0.5s ease;
  opacity: 0;
  background: rgba(1, 1, 1, 0.64);
  color: whitesmoke;
}

.movie-info:hover {
  opacity: 1;
}

h3 {
  margin: 0 0 5% 5%;
  font-size: 30px;
  font-weight: bolder;
}

p {
  margin: 0 0 5% 5%;
  font-size: 18px;
}
