.movie {
  position: relative;
  width: 100%;
}

.movie img {
  display: block;
  width: 100%;
}

.overlay {
  width: 100%; //Original value: 0%;
  background: rgba(0, 0, 0, 0.3); // Original value: rgba(0, 0, 0, 0.8); 
  position: absolute;
  top: 0;
  bottom: 0;
  display: block;
  // overflow: hidden; 
}

.movieDetails {
  position: absolute;
  left: 20px;
  bottom: 35px;
  margin-right: 20px;
}

@media(hover: hover) and (pointer: fine) {
  .movie {
    overflow: hidden;
  }
  .movie img {
    transition: transform .5s ease-in-out;
  }
  .movie:hover img {
    transform: scale(1.1);
  }
  .overlay {
    width: 0%;
    background: rgba(0, 0, 0, 0.8);
    overflow: hidden;
  }
  .movie:hover .overlay {
    width: 100%;
  }
}