.biography-page {
  display: flex;
  flex-direction: column;
  padding-left: 10px;
  padding-right: 10px;
}

.biography-section {
  align-items: center;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.bio-profile-name {
  font-weight: 900;
}

.movie-project-title {
  color: #ffffff;
}

.display-image {
  width: 100%
}

.display-movie-list {
  color: #ffffff;
  text-decoration: none;
}

.display-cards {
  align-items: center;
  border: 2px solid #ffffff;
  border-radius: 10px;
  display: flex;
  flex: 1;
  flex-direction: column;
  margin: 5px;
  opacity: 1;
}

.display-cards:hover {
  opacity: 0.3;
  transition: ease 0.5s;
}

.display-card-container {
  align-items: flex-start;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.role {
  font-style: italic;
  margin-top: 5px;
  margin-bottom: 0;
}

@media screen and (min-width: 600px) {
  .display-card-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (min-width: 770px) {
  .display-card-container {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

