.movie-card-container {
  align-items: center;
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr;
}


@media screen and (min-width: 700px) {
  .movie-card-container {
  grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 1040px) {
  .movie-card-container {
  grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (min-width: 1400px) {
  .movie-card-container {
  grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
