
.movie-thumbnail-container {
    width: 300px;
    height: auto;

}

.thumbnail-overlay {
    z-index: 1;
    width: 100%;
    height: 100%;    
}

.movie-thumbnail-container:hover .thumbnail-overlay{
    background-color: rgba(0, 0, 0, 0.575);
}

.movie-poster-image {
    z-index: 0;
    width: 100%;
}

.movie-title-and-release-container {
    color: white;
    bottom: 5px;
}