* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.movie-thumbnail-container {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
}

.movie-link {
    position: relative;
    width: 25%;
    color: #fff;
    text-decoration: none;
}

/* 
.movie-thumbnail-container:hover .thumbnail-overlay{
    background-color: rgba(0, 0, 0, 0.575);
} */

.movie-poster-image {
    width: 100%;
}

.movie-thumbnail-container .movie-text-container{
    position: absolute;
    color: white;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;

}