.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.movies-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.movie-card {
  display: flex;
  position: relative;
  color: white;
}

.movie-card:hover .info-on-hover {
  visibility: visible;
  opacity: 1;
}

.movie-card:hover .img-hover {
  opacity: 0.4;
}

.img-hover {
  height: 350px;
  width: auto;
  transition: 0.3s;
}

.info-on-hover {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  position: absolute;
  color: white;
  bottom: 8px;
  margin-left: 20px;
  margin-bottom: 6px;
  visibility: hidden;
  opacity: 0;
  transition: 0.6s;
}

h1 {
  font-family: 'Chango', cursive;
  color: rgb(241, 242, 243);
  margin: 0;
  text-align: center;
  font-size: 30px;
}

h2 {
  margin-block-end: 0;
  font-size: 30px;
  width: 50%;
}

@media (min-width: 668px) {
  h1 {
    font-size: 60px;
  }

  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

  .movies-list {
    display: flex;
    flex-flow: row wrap;
  }

  .movie-card {
    width: 25%;
    flex-grow: 1;
  }
  
  .img-hover {
    width: 100%;
    height: auto;
  }
}




