
.MoviePage {
    position: relative;
    background-color: black;
}

.MoviePage .backLink {
    position: absolute;
    display: inline-flex;
    color: #fff;
    align-items: center;
    font-weight: bold;
    text-decoration: none;
    left: 50px;
    top: 50px;
}

.MoviePage .backLink svg {
    width: 30px;
    transition: margin-right 0.2s ease-in-out;
}

.MoviePage .backLink:hover svg {
    margin-right: 5px;
}

.MoviePage .background {
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    background-color: blue;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.MoviePage img {
    border: 5px solid #fff;
    
}

.MoviePage .summary {

    display: flex;
    align-items: flex-end;
    padding: 50px;
}

.MoviePage .details {
    margin-left: 20px;
    color: white;
}

.MoviePage .details p {
    max-width: 400px;
    color: white;
}


.MoviePage .raiting {
    font-size: 17px;
    color: red;
    font-weight: normal;
    margin-left: 10px;
}

