h3 {
  color: white;
  font-size: 30px;
}

h4 {
  color: red;
  font-size: 20px;
  font-weight: normal;
  padding-inline-start: 20px;
  padding-top: 10px;
}

h5 {
  color: white;
  margin: 0;
  padding-top: 5px;
  font-size: 25px;
}

p {
  color: white;
  margin-block-start: 0;
  margin-block-end: 0;
}

.poster-container {
  margin: 0;
}

.poster {
  box-shadow: 0 8px 16px 0 rgb(241, 242, 243), 0 12px 40px 0 rgb(241, 242, 243);
}

.back {
  margin-top: 8px;
  margin-bottom: 8px;
  display: flex;
  flex-direction: row;
  color: white;
  text-decoration: none;
  opacity: 0.5;
  transition: 0.3s;
  justify-content: center;
}

.back:hover {
  opacity: 1;
}

.back-big-screen {
  visibility: hidden;
  margin: 16px; 
  display: flex;
  flex-direction: row;
  color: white;
  text-decoration: none;
  opacity: 0.5;
  transition: 0.3s;
}

.back-big-screen:hover {
  opacity: 1;
}

.info-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info-text {
  display: flex;
  flex-direction: column;
  width: 80%;
}

.title-and-rating {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

@media (min-width: 668px) {
  .poster-container {
    margin: 16px; 
  }

  .info-container {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
  }

  .when-hidden {
    margin: -16px;
  }

  .info-text {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    max-width: 500px;
    margin-left: 16px;
  }

  .title-and-rating {
    justify-content: flex-start;
  }

  .back-big-screen {
    visibility: visible;
  }

  .back {
    visibility:hidden;
  }
}