.back-link {
  align-items: center;
  color: #fff;
  display: inline-flex;
  font-weight: 700;
  left: 60px;
  position: absolute;
  top: 60px;
  z-index: 3;
}

.back-link-svg {
  width: 30px;
}

.back-link-svg:hover {
  margin-right: 10px;
  transition: margin-right .2s ease-in-out;
}

.movie-backdrop {
  background-size: cover;
  height: 100vh;
  position: fixed;
  width: 100%;
}

.movie-summary {
  align-items: flex-end;
  bottom: 30px;
  display: flex;
  justify-content: flex-start;
  left: 40px;
  max-width: 1200px;
  position: absolute;
  width: 90%;
}



.movie-title {
  font-size: 30px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.movie-rating {
  align-items: center;
  display: flex;
  justify-content: flex-start;
  margin-top: 2px;
  margin-bottom: 2px;
}

.rating-star {
  height: 19px;
  margin-right: 8px;
  margin-left: 20px;
}

.move-rate-number {
  color:#FF0000;
  font-weight: 500;
}

.movie-description-first-row {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
}

.movie-tagline {
  font-style: italic;
  font-size: 20px;
  font-weight: 700;
}

.movie-poster-container {
  opacity: 1;
}

.movie-poster-container:hover {
  opacity: 0.7;
  transform: scale(1.05);
  transition: ease 1s;
}

.movie-poster {
  border: 5px solid #ffffff;
  height: 100%;
  object-fit: cover;
  width: 342px;
}

.movie-description {
  color: #ffffff;
  padding-left: 30px;
}

.movie-genres {
  display: flex;
  align-items: center;
}

.genres-dot {
  font-size: 25px;
}

.genre:nth-of-type(n)::after {
  content: ", ";
  white-space: pre;
}

.genre:last-of-type::after {
  content:"";
}

.people-link-container {
  display: flex;
  justify-content: space-evenly;
}

.movie-people-link,
.movie-homepage-link {
  color: #ffffff;
  font-weight: 700;
  text-decoration: none;
  transition: ease 0.2s;
  transform: scale(1);
}

.movie-people-link:hover,
.movie-homepage-link:hover {
  color: #ffff00;
  transform: scale(1.1);
}

.movie-people-link:active,
.movie-homepage-link:active {
  color: #0000ff;
} 

@media screen and (max-width: 760px) {
  .movie-summary {
    align-items: center;
    flex-direction: column;
    margin-left: 20px;
    left: 0;
  }

  .movie-poster {
    width: 250px;
  }

  .movie-title {
    color: #ffff00;
    font-size: 22px;
  }

  .movie-description {
    padding-left: 0;
  }

  .movie-genres {
    align-items: flex-start;
    font-size: 17px;
  }

  .genres-dot {
    font-size: 17px;
  }

  .rating-star {
    margin-left: 0;
  }
}

@media screen and (max-width: 550px) {
  .movie-summary {
    align-items: center;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 5px;
    left: 0;
  }

  .movie-poster {
    width: 195px;
  }

  .movie-title {
    color: #ffff00;
    font-size: 20px;
  }

  .movie-description {
    font-size: 15px;
    padding-left: 0;
  }

  .movie-genres {
    align-items: flex-start;
    font-size: 15px;
  }

  .genres-dot {
    font-size: 15px;
  }

  .rating-star {
    margin-left: 0;
  }
}

