.movies-list {
  display: flex;
  flex-flow: row wrap;
}

.movie-card {
  display: flex;
  width: 25%;
  position: relative;
  color: white;
}

.movie-card:hover .info-on-hover {
  visibility: visible;
  opacity: 1;
}

.movie-card:hover .img-hover {
  opacity: 0.3;
}

.img-hover {
  width: 100%;
  transition: 0.3s;
}

.info-on-hover {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  position: absolute;
  color: white;
  bottom: 8px;
  margin-left: 20px;
  margin-bottom: 6px;
  visibility: hidden;
  opacity: 0;
  transition: 0.6s;
}

h1 {
  font-family: 'Chango', cursive;
  color: rgb(241, 242, 243);
  margin: 0;
  text-align: center;
  font-size: 60px;
}

h2 {
  margin-block-end: 0;
  font-size: 30px;
  width: 50%;
}


