/* .movie-details {
  display: flex;
  position: relative;
} */
.movie-details-container {
  position: absolute;
}
.movie-details {
  background-image: linear-gradient(rgba(0, 0, 0, 0) 70%, rgb(0, 0, 0) 100%);
  min-height: 100vh;
  display: flex;
  background-size: cover;
  flex-direction: column;
  justify-content: flex-end;
}
.movie-details-container {
  display: flex;
  align-items: flex-end;
  padding: 50px;
}
.movie-details-poster {
  border: 5px solid #fff;
  width: 350px;
}
