/* .movie-card-image {
  width: 25%;
}
.movie-card-link:hover {
  filter: brightness(60%);
} */
.movie-card-image {
  width: 25%;
  margin-bottom: -5px;
}

.movie-card-link:hover {
  filter: brightness(55%);
}
/* .movie-card-image-wrapper a {
  width: 25%;
  height: auto;
  position: relative;
  background-color: red;
}

.movie-card-image-details {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.75);
  display: none;
  padding: 20px;
}
.movie-card-image-details:hover {
  display: block;
} */
