.back-button-wrapper {
  display: flex;
}

.back-button-link {
  display: flex;
  align-items: center; /* Needed for iPhone to get arrow and text to be on same row */
  color: #fff;
  font-weight: bold;
  text-decoration: none;
  padding: 20px 10px 0 10px;
}

.back-button-link .svg {
  width: 30px;
  transition: margin-right 0.2s ease-in-out;
}

.back-button-link:hover .svg {
  margin-right: 5px;
}

@media (min-width: 668px) {
  .back-button-link {
    padding: 40px 10px 0 40px;
  }
}
