.detail {
  min-height: 100vh;
  display: flex;
  background-size: cover;
  flex-direction: column;
  justify-content: flex-end;
  background-position: center;
  background-position-x: center;
  background-position-y: center;
  position: relative;

  &__info-container {
    display: flex;
    align-items: flex-end;
    padding: 50px;
  }

  &__vote {
    font-size: 16px;
    margin-left: 10px;
    color: red;
  }
}
