.error-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.error-text {
  color: white;
}

.error-gif {
  margin: 20px;
  width: 250px;
}

@media (max-width: 668px) {
  /* Smaller text in mobile format */
  .error-text {
    font-size: 22px;
    margin: 15px;
  }
}