.error-container {
	background-image: linear-gradient(rgba(0, 0, 0, 0) 10%, rgb(0, 0, 0) 85%),
		url('./popcorn.jpg');
	background-size: cover;
	background-position-x: center;
	background-position-y: 45%;
	height: 100vh;
	width: 100vw;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.error-button {
	background: rgb(216 61 61 / 60%);
	padding: 20px;
	font-size: 20px;
	font-weight: bold;
	border-radius: 10px;
}

.error-text {
	font-size: 20px;
	margin-bottom: 10px;
}
