* {
  box-sizing: border-box;
}

.details-page {
  position: relative;
  min-height: 100vh;
  width: 100vw;
  display: flex;
  align-items: flex-end;
  z-index: 1;
  background-position: 20% 0;
}

.details-overlay {
  background-color: rgba(0, 0, 0, .6);
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  margin: 0;
  height: 100vh;
  z-index: 2;
}

.back-link {
  position: absolute;
  top: 5vh;
  left: 5vw;
  text-decoration: none;
  color: #fff;
  font-weight: 700;
  display: inline-flex;
  align-items: center;
  z-index: 3;
}

.back-link svg {
  color: #fff;
  width: 30px;
  height: 30px;
}

/* back-link:hover {

} */

.details-summary {
  display: flex;
  align-items: flex-end;
  padding: 5vh 5vw;
  margin: 0 10vw 5vh 10vw;
  color: #fff;
  background: rgba(0, 0, 0, 0.4);
  z-index: 3;
}

.details-summary-poster {
  border: 20px solid #fff;
}

.details-summary-text {
  margin-left: 40px;
  max-width: 600px;
}
.details-summary-heading {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 36px;
}

.details-summary-star,
.details-summary-rating {
  margin-left: 8px;
}

.details-summary-overview {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 24px;
}