.movie__card {
    width: 100%;
    height: 100%;
    position: relative;
}

.movie__overlay {
    display: none;
    position: absolute;
    background: rgba(0, 0, 0, 0.5);
    height: 100%;
    width: 100%;
    align-items: flex-end;
}

.movie__info-text {
    padding: 5px;
}

.movie__card img {
    width: 100%;
}

.movie__card:hover .movie__overlay {
    display: flex;
}
