/***GENERAL***/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

h1 {
	font-size: 24px;
}

h2 {
	margin-bottom: 10px;
}

h3 {
	margin-bottom: 10px;
}

a {
	color: #fff;
	text-decoration: none;
}

/***NAV***/
header {
	height: 10vh;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px;
	position: relative;
}

nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}

.nav__button {
	display: inline;
	border: none;
	background: transparent;
	color: #fff;
	font-size: 16px;
	padding: 10px;
	cursor: pointer;
	font-size: 25px;
}

.nav__button:hover {
	background: #1f6f8b;
}

.nav__button--open {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	position: absolute;
	top: 10vh;
	left: 0;
	right: 0;
	z-index: 1;
	background: #000;
	height: 25vh;
}

.nav__button--closed {
	display: none;
}

.nav__link {
	padding: 10px;
	text-align: center;
}

.nav__link:hover {
	background: #1f6f8b;
}

/*-COMPANY HEADER-*/
.company-name {
	height: 100%;
}

.company__logo {
	height: 100%;
	filter: invert(1);
	color: #000;
}

/***MOVIELIST***/
.list {
	display: grid;
	grid-template-columns: 1fr 1fr;
	width: 100%;
}

/*-MOVIE THUMB-*/
.movie-thumb {
	position: relative;
}

.movie-thumb__img {
	width: 100%;
}

.movie-thumb:hover .movie-thumb__info {
	background: rgba(0, 0, 0, 0.7);
}

.movie-thumb__info {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	display: none;
	transition: all 0.5s ease-in-out;
}

.movie-thumb:hover .movie-thumb__info {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	padding: 40px 10px;
}

/***MOVIEPAGE***/
/*-MOVIE DETAIL-*/
.details {
	background-size: cover;
	background-repeat: 'no-repeat';
	min-height: 100vh;
	background-position: center;
	background-position-x: center;
	background-position-y: center;
	padding: 20px;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}

.details-container {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-column-gap: 20px;
	max-width: 800px;
}

.details__img {
	display: none;
}

.details__info {
	display: grid;
	grid-row-gap: 10px;
	grid-column: 1/4;
	align-self: end;
	background: rgba(0, 0, 0, 0.4);
	padding: 10px;
}

.details__rate {
	color: #db0000;
	font-size: 16px;
	margin-left: 10px;
}

.details__imdb {
	height: 45px;
}

.details__tag-lists {
	display: flex;
	flex-wrap: wrap;
}

.details__tag-list-grey {
	list-style: none;
	padding: 3px;
	margin: 5px 5px 10px 0;
	background: rgb(75, 70, 70);
}

.company {
	margin-top: 20px;
	max-width: 800px;
}

.company-container {
	display: flex;
	flex-wrap: wrap;
}
.company__names {
	padding: 3px;
	margin: 5px 5px 10px 0;
	background: #1f6f8b;
}

/***BACKBUTTON ***/
.back__button {
	border-radius: 4px;
	background-color: rgba(0, 0, 0, 0.5);
	position: absolute;
	border: none;
	color: #fff;
	text-align: center;
	font-size: 20px;
	padding: 10px 15px;
	transition: all 0.5s;
	cursor: pointer;
	margin: 20px;
	box-shadow: 0 10px 20px -8px rgba(0, 0, 0, 0.7);
	cursor: pointer;
	display: inline-block;
	transition: 0.5s ease-in-out;
	z-index: 1;
	font-family: 'Nanum Gothic Coding', monospace;
}

.back__button:after {
	content: '\00AB	';
	position: absolute;
	opacity: 0;
	top: 10px;
	left: -20px;
	transition: 0.5s;
}

.back__button:hover {
	padding-left: 25px;
}

.back__button:hover:after {
	opacity: 1;
	left: 5px;
}

/*** LOADER ***/
.loader {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.loader__icon {
	border: 5px solid #f2f0f0;
	border-radius: 50%;
	border-top: 6px solid #1f6f8b;
	width: 120px;
	height: 120px;
	top: 30px;
	animation: spin 2s linear infinite;
}

/*** ERROR ***/
.error {
	background-image: linear-gradient(rgba(0, 0, 0, 0) 10%, rgb(0, 0, 0) 85%),
		url('./popcorn.jpg');
	background-size: cover;
	background-position-x: center;
	background-position-y: 45%;
	height: 100vh;
	width: 100vw;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.error__text {
	font-size: 20px;
	margin-bottom: 10px;
	text-align: center;
}

.error__button {
	background: rgb(216 61 61 / 60%);
	padding: 20px;
	font-size: 20px;
	font-weight: bold;
	border-radius: 10px;
}

/***ANIMATION***/
/*Loader animation*/
@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

/*** MEDIA ***/
@media (min-width: 768px) {
	h1 {
		font-size: 32px;
	}
	.nav__button {
		display: none;
	}

	.nav__link {
		font-size: 20px;
	}
	.nav__button--open {
		all: unset;
		display: flex;
	}

	.nav__button--closed {
		display: flex;
	}

	.list {
		grid-template-columns: repeat(3, 1fr);
	}

	.details__img {
		display: flex;
		border: 1px solid #f8f3ea;
	}

	.details__info {
		grid-column: 2/4;
	}
}

@media (min-width: 1024px) {
	.list {
		grid-template-columns: repeat(4, 1fr);
	}
}
