@import url("https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@400;700&family=Montserrat&display=swap");

.background-image {
  background-size: cover;
  position: relative;
  background-repeat: no-repeat;
  min-height: 100vh;
  min-width: 100vw;
}

.movie-detail-page {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  height: 75vh;
  color: #fff;
  font-family: "Merriweather Sans", sans-serif;
}

.details-container {
  display: flex;
  margin: 50px;
  margin-bottom: 50px;
}

.details {
  max-width: 400px;
  display: flex;
  flex-direction: column;
  color: #fff;
  margin-left: 30px;
  justify-content: flex-end;
  font-size: 17px;
}

.details-poster {
  border: 4px solid #fff;
}

.title {
  font-size: 25px;
}
.vote {
  font-size: 15px;
  color: #8b0000;
  margin-left: 10px;
}

.overview {
  font-family: "Montserrat", sans-serif;
}

.back-link {
  text-decoration: none;
  color: #fff;
}

.link-text {
  padding: 30px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.fa-chevron-circle-left {
  font-size: 25px;
  color: #fff;
  margin-right: 10px;
}

@media (max-width: 678px) {
  .title {
    display: flex;
    flex-direction: column;
  }
  .details-poster {
    width: 240px;
  }

  .movie-detail-page {
    justify-content: center;
  }
}

@media (max-width: 585px) {
  .details-poster {
    align-self: center;
    position: relative;
  }

  .details-container {
    flex-direction: column;
    font-size: 15px;
  }

  .back-link {
    position: absolute;
    margin-left: 150px;
    z-index: 1;
  }
}

@media (max-width: 523px) {
  .details-poster {
    width: 220px;
  }
  .details-container {
    font-size: 12px;
  }
}

@media (max-width: 472px) {
  .details {
    font-size: 12px;
  }

  .back-link {
    margin-top: 30px;
    margin-left: 100px;
  }
}
