.movie-thumb-wrapper {
  color: #fff;
  text-decoration: none;
  position: relative;
}

.movie-thumb-wrapper .image-poster {
  width: 100%;
}

.movie-thumb-wrapper .movie-text {
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #000;
  opacity: 0.8;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.movie-thumb-wrapper:hover .movie-text {
  display: flex;
}

.movie-thumb-wrapper .movie-text p {
  font-weight: bold;
}
