* {
  box-sizing: border-box;
}

.details-page {
  position: relative;
  height: 88vh;
  width: 100vw;
  display: flex;
  align-items: flex-end;
  z-index: 1;
  background-position: 20% 0;
}

.details-overlay {
  background-color: rgba(0, 0, 0, .6);
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  margin: 0;
  height: 100%;
  z-index: 2;
}

.back-link {
  position: absolute;
  top: 5vh;
  left: 15vw;
  text-decoration: none;
  color: #fff;
  font-weight: 700;
  display: inline-flex;
  align-items: center;
  z-index: 3;
  transition: all .5s ease; 
}

.back-link svg {
  color: #fff;
  width: 30px;
  height: 30px;
}

.back-link h3 {
  transition: all .5s ease; 
}

.back-link:hover .back-link-heading {
  transform: translateX(10px);
}

.details-summary {
  display: flex;
  align-items: flex-end;
  padding: 20px;
  margin: 0 auto 5vh auto;
  max-width: 95vw;
  color: #fff;
  background: rgba(30, 14, 20, 0.5);
  z-index: 3;
}

.details-summary-poster {
  max-height: 100%;
  border: 10px solid #fff;
}

.details-summary-text {
  margin-left: 30px;
  max-width: 600px;
}
.details-summary-heading {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 30px;
}

.details-summary-rating {
  margin-left: 15px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
}

.details-summary-overview {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  margin-top:8vh;
}

@media(max-width:1024px) {
  .back-link {
    top: 3vh;
    left: 6vw;
  }
}

@media(max-width:768px) {
  .navigation {
    height: 10vh;
  }

  .back-link {
    top: 2vh;
    left: 4vw;
  }

  .details-page {
    height: 90vh;
    background-position: 50% 0;
  }

  .details-summary {
    flex-direction: column;
    height: 75vh;
    justify-content: space-around;
  }

  .details-summary-poster {
    align-self: flex-end;
    height: 45%;
  }

  .details-summary-text {
    margin-left: 0;
  }

  .details-summary-heading {
    margin-top: 2vh;
  }
  .details-summary-overview {
    margin-top: 4vh;
  }
}

@media(max-width:540px) {
  .details-page {
    height: 100vh;
  }

  .details-summary {
    margin: 0;
    max-width: 100vw;
    height: auto;
    margin-top: 10vh;
  }

  .details-summary-poster {
    align-self: center;
    height: 200px;
  }

  .details-summary-heading {
    font-size: 24px;
    margin-top: 1vh;
  }

  .details-summary-overview {
    margin-top: 2vh;
    font-size: 16px;
  }
}