
    .movie-detail {
        width: 900px;
        position: absolute;
        left: 50px;
        bottom: 50px;
        display: flex;
        gap: 50px;
    }
    img {
        border: solid 5px #fff;
    }

    div {
        align-self: flex-end;
        color: #fff;
    }

    h3 {
        display: inline;
        margin-right: 20px;
        font-size: 32px;
    }

    .rating {
        color: red;
    }

    p {
        margin-top: 20px;
        font-size: 18px;
        line-height: 22px;
        letter-spacing: 0.5;
    }

    .language {
        font-size: 14px;
        font-weight: bold;
        padding: 2px;
        display: flex;
        gap: 5px;
        margin-top: 10px;
    }
    
    .language span {
        text-transform: uppercase;
        color: #eee;
        padding-right: 4px;
    }
    
    .language span:not(:last-child) {
        border-right: solid 1px #eee;

    }


   