.background-picture {
  min-height: calc(100vh - 75.4px);
  max-width: 100vw;
  background-size: cover;
  display: flex;
}

/* Arrows for going back to movies list */
.arrows-wrapper {
  margin: 0 5px 2.5px 2px;
}

.arrow {
  border: solid #fff;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

/* The div including the smaller picture and the text-elements */
.picture-text-rating-wrapper {
  display: flex;
  align-items: flex-end;
  padding: 50px;
}

.detail-poster-image {
  border: 5px solid #fff;
}

.text-rating-overview-wrapper {
  max-width: 450px;
}

.top-info {
  display: flex;
  margin: 20px;
}

.rating {
  font-size: 17px;
  margin-left: 10px;
}

/* Different color based on if rating is below or above 8.0 */
.low {
  color: #ed1909;
}

.high {
  color: #278f5c;
}

.overview {
  margin: 20px;
}

.more-movies {
  margin-left: 20px;
  text-decoration-line: none;
  -moz-text-decoration-line: none;
  -webkit-text-decoration-line: none;
  color: #fff;
  appearance: none;
  background: rgba(0,0,0,.5);
  border: none;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
  "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
  sans-serif;
  font-size: 16px;
  cursor: pointer;
}

.more-movies:hover {
  font-weight: bold;
}

/* Hover effect to make it easier to read based on background */
.movie-heading:hover, .overview:hover, .more-movies:hover, .similar-movies-heading:hover, .nosimilarmoviesfound-box:hover {
  text-shadow: 1.5px 1px 2px #000;
}

.similar-movies-container {
  display: flex;
  flex-wrap: wrap;
  width: 400px;
  height: 300px;
  margin: 70px 0 0 130px;
}

.similar-movie-poster-image {
  height: 110px;
  margin: 0;
}

.similar-movie-poster-image:hover {
  border: 3px solid white;
}

.nosimilarmoviesfound-box {
  padding: 40px 20px;
  border: 5px solid #fff;
}

@media (max-width: 1024px) {
  .background-picture {
    flex-direction: column;
    align-items: center;
  }

  .similar-movies-container{
    margin: 0 0 20px 0;
    width: 800px;
  }
}

@media (max-width: 900px) {
  .background-picture {
    height: 200%;
  }

  .similar-movies-container{
    width: 600px;
  }
}

@media (max-width: 700px) {
  .background-picture {
    height: 250%;
  }
}

@media (max-width: 668px) { /* Mobile format */
  body {
    margin: 0;
  }

  .background-picture {
    height: 300%;
  }

  .back-link {
    margin-right: -20px;
    width: 200px;
  }

  .picture-text-rating-wrapper {
    flex-direction: column;
    align-items: center;
    padding: 50px 0;
  }

  .detail-poster-image {
    width: 300px;
  }

  .text-rating-overview-wrapper {
    width: 250px;
  }

  .similar-movies-container {
    width: 300px;
  }
}