.details__background {
  grid-row: 2;
}

.details__info-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.details__info-text {
  padding: 5px;
  background: rgba(0, 0, 0, 0.4);
}

.details__low-rating {
  color: #be3c00;
  font-weight: 600;
}

.details__medium-rating {
  color: #c59328;
  font-weight: 600;
}

.details__high-rating {
  color: #e9de40;
  font-weight: 600;
}

p, h4 {
  margin: 2px;
}

h4 {
  font-style: italic;
}

.details__img-container img {
  width: auto;
  height: 250px;
  border: 2px solid #fff;
  box-shadow: -11px 14px 16px 4px rgba(0,0,0,0.79);
  -webkit-box-shadow: -11px 14px 16px 4px rgba(0,0,0,0.79);
  -moz-box-shadow: -11px 14px 16px 4px rgba(0,0,0,0.79);
}

@media (min-width: 768px) {
  .details__info-box {
    flex-direction: row;
  }

  .details__info-text {
    width: 50%;
  }

  .details__info-box img {
    height: 300px;
  }
}

@media (min-width: 1024px) {
  .details__info-text p {
    font-size: 18px;
  }
  
  .details__info-box img {
    height: 500px;
  }
}
