.detail-page {
  position: relative;
}

.back-link {
  height: 30px;
  position: absolute;
  left: 50px;
  top: 50px;
  font-weight: 700;
  display: flex;
  text-decoration: none;
}

.back-link img {
  margin-right: 5px;
  transition: margin-right .2s ease-in-out;
  width: 24px;
}

.back-link:hover img {
  margin-right: 10px;
}

.background {
  min-height: 100vh;
  background-size: cover;
  display: flex;
  align-items: flex-end;
}

.summary-box {
  display: flex;
  align-items: flex-end;
  padding: 50px;
  color: white;
}

.summary-box img {
  border: 5px solid white;
}

.description {
  margin-left: 20px;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px;
}

.rating {
  color: red;
  font-weight: 300;
  margin-left: 20px;
  font-size: 17px;
}

.description p {
  max-width: 400px;
}

/*media queries*/

@media (max-width: 767px) {
  .summary-box {
    flex-wrap: wrap-reverse;
    margin-top: 100px;
    justify-content: center;
  }

  .summary-box img {
    width: 90%;
  }

  .description {
    width: 90%;
    margin-bottom: 30px;
    margin-left: 0;
  }
}