.details__info-box {
  display: flex;
  flex-direction: column;
  color: #fff;
  padding: 10px;
}

.details__image-container {
  width: 70%;
  border: 2px solid #fff;
  box-shadow: -12px 14px 9px 2px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: -12px 14px 9px 2px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -12px 14px 9px 2px rgba(0, 0, 0, 0.75);
}

.details__image-container img {
  width: 100%;
}

.details__info-text span {
  font-weight: 500;
}
.details__low-rating {
    color: #BE5A00;
}

.details__medium-rating {
    color: #ae781b;
}

.details__high-rating {
    color: #f1bd13;
}

@media (min-width: 768px) {
  .details__image-container {
    width: 50%;
  }
}

@media (min-width: 1024px) {
  .details__info-box {
    flex-direction: row;
    position: absolute;
    top: 30%;
    left: 3%;
  }
  .details__image-container {
    width: 50%;
  }

  .details__info-text {
    display: flex;
    flex-direction: column;
    color: #fff;
    justify-content: flex-end;
    padding: 10px;
  }
}

@media (min-width: 1280px) {
  .details__info-box {
    top: 10%;
  }
}

/* .details__info-box {
    display: flex;
    position: absolute;
    flex-direction: column;
    bottom: 0;
}

.details__image-container {
    width: 50%;
}

.details__info-text {
    display: flex;
    flex-direction: column;
    color: #fff;
    width: 50%;
    justify-content: flex-end;
    padding: 10px;
}

 */
