* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.movie-list {
	display: grid;
	grid-template-columns: 1fr 1fr;
	width: 100%;
}

article {
	position: relative;
}

article:hover .movie-information {
	background: rgba(0, 0, 0, 0.7);
}

img {
	width: 100%;
}

.movie-information {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	display: none;
	transition: all 0.5s ease-in-out;
}

article:hover .movie-information {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	padding: 40px 10px;
}

@media (min-width: 768px) {
	.movie-list {
		grid-template-columns: repeat(3, 1fr);
	}
}

@media (min-width: 1024px) {
	.movie-list {
		grid-template-columns: repeat(4, 1fr);
	}
}
