.nav__container {
    grid-row: 1;
    background: #000;
    display: flex;
    justify-content: inherit;
    padding: 10px;
}

.nav__links {
    display: flex;
    font-weight: 600;
}

li {
    list-style: none;
    margin: 5px;
}

a {
    color: #fff;
    text-decoration: none;
}

a:hover {
    color: #A7A094;
}

a.active {
    color: #A7A094;
}
