
.nav__container {
    grid-row: 1;
    background: #000;
    display: flex;
    padding: 10px;
}

.nav__links {
    display: flex;
    font-weight: 600;
}

li {
    list-style: none;
    margin: 5px;
}

a {
    color: #fff;
    text-decoration: none;
}

a:hover {
    color: #778899;
}

a.active {
    color: #ffe4c4;
}

/*

@media screen and (min-width: 1024px) {
    .nav__container {
        justify-content: space-between;
    }
} */