header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 20px;
	/* width: 100%; */
}

.nav-button {
	display: inline;
}

nav {
	position: relative;
}
.open {
	/* width: 100%; */
	display: flex;
	flex-direction: column;
	position: absolute;
	top: 76px;
	left: 0;
	right: 0;
	z-index: 1;
	background: #000;
	height: 20vh;
}

.closed {
	display: none;
}

.nav-bar-link {
	padding: 10px;
	text-align: center;
}

/* header {
	height: 10vh;
	margin: 0 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

a {
	text-decoration: none;
	color: #fff;
	font-weight: bold;
	display: block;
}


.nav-button {
	background: transparent;
	color: white;
	padding: 12px;
	font-size: 20px;
	border: none;
	cursor: pointer;
}

nav {
	position: relative;
	display: inline-block;
}

.nav-links {
	display: none;
	position: absolute;
	background-color: #000;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 1;
}

.nav-bar-links {
	padding: 20px;
}

/* .nav-links a:hover {
	background: grey;
} 

nav:hover .nav-links {
	display: block;
}

nav:hover .nav-button {
	background-color: #565e56;
}
/* .nav-bar-link:hover {
	border-bottom: 1px solid #fff;
} */

@media (min-width: 768px) {
	.nav-button {
		display: none;
	}
	.open {
		all: unset;
	}

	.closed {
		display: block;
	}
}

@media (min-width: 1024px) {
}
