* {
  box-sizing: border-box;
  margin: 0;
}

.navigation {
  background-color: #000;
  background-image: linear-gradient(#4e2534 0%,#000000 50%, #000000 80%, #4e2534 100%);
  display: flex;
  align-items: flex-end;
  height: 12vh;
}

.nav-heading {
 color: #fff;
 font-family: 'Josefin Sans', sans-serif;
 font-size: 3rem;
 letter-spacing: 2px;
 margin-left: 1rem;
 margin-bottom: 0.7rem;
 text-shadow: 3px 3px 6px #a34e6c;
}