/* Style for 404/Not found-page */
.not-found {
    text-align: center;
    padding: 20px;
}

.not-found__message {
    margin-top: 150px;
    margin-bottom: 50px;
}

.not-found__image {
    width: 250px;
}

.icon-text {
    font-size: 12px;
    margin-top: 30px;
}

