.popular-page {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-gap: 1px;
  margin: 20px;
}

@media (min-width: 668px) {
  .popular-page {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (min-width: 1024px) {
  .popular-page {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
