@import './variables.scss';

* {
  box-sizing: border-box;
  padding: 0;
  text-rendering: optimizeLegibility;
}

body {
  -webkit-font-smoothing: antialiased;
  background: #15173d;
  font-family: 'Poiret One', cursive;
  color: #d1ad70;
}

/*** MOVIE LIST PAGE ***/

/*--- List Header ---*/

.list-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  padding: 20px;

  &__logo {
    color: #d1ad70;
    text-decoration: none;
  }

  &__nav {
    position: relative;
    text-align: center;

    &--open {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      position: absolute;
      top: 9vh;
      left: 0;
      right: 0;
      z-index: 1;
      background: #15173d;
      height: 25vh;
    }

    &--closed {
      display: none;
    }
  }

  &__button {
    display: inline;
    border: none;
    background: transparent;
    font-family: 'Poiret One', cursive;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 16px;
    padding: 10px;
    color: #d1ad70;
    cursor: pointer;

    &:hover {
      background: #d1ad70;
      color: #15173d;
    }
  }

  &__link {
    text-decoration: none;
    color: #d1ad70;
    font-weight: bold;
    padding: 10px;

    &:hover {
      background: #d1ad70;
      color: #15173d;
    }
  }

  @include respond(medium) {
    &__nav {
      display: flex;
    }

    &__nav--open {
      all: unset;
    }

    &__nav--closed {
      display: flex;
    }

    &__button {
      display: none;
    }
  }
}

/*--- List ---*/

.list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  position: relative;
  width: 100%;

  @include respond(medium) {
    grid-template-columns: repeat(3, 1fr);
  }

  @include respond(large) {
    grid-template-columns: repeat(4, 1fr);
  }
}

/*--- List Movie Thumb ---*/

.movie-thumb {
  position: relative;
  text-align: center;

  &__link {
    color: #d1ad70;
    text-decoration: none;
    font-weight: bold;
    display: block;
  }

  &__image {
    width: 100%;
  }

  &__overlay {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(rgba(21, 23, 61, 0.2) 0, rgb(21, 23, 61) 80%);
    padding: 40px 10px;
    transition: all 0.5s ease-in-out;
  }

  &__title {
    font-size: 35px;
    margin-bottom: 10px;
  }

  &:hover .movie-thumb__overlay {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
}

/*** MOVIE DETAIL PAGE ***/

/*--- List Header ---*/

.detail {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  background-position-x: center;
  background-position-y: center;
  background-repeat: no-repeat;

  &__image {
    display: none;
    border: 2px solid #d1ad70;

    @include respond(medium) {
      display: flex;
    }
  }

  &__info-container {
    display: flex;
    align-items: flex-end;
    padding: 50px;
  }

  &__vote {
    font-size: 16px;
    margin-left: 10px;
    color: red;
  }

  &__company-container {
    display: flex;
    flex-wrap: wrap;
  }

  &__company {
    text-decoration: none;
    padding: 2px 5px;
    background: #87ccb0;
    font-size: 12px;
    margin: 5px 8px 5px 0;
  }
}

/*** BACK BUTTON ***/

.back-button {
  position: absolute;
  top: 0;
  z-index: 2;
}
