/*** MEDIA QUERIES ***/

@mixin respond($breakpoint) {
  @if ($breakpoint == medium) {
    @media only screen and (min-width: 768px) {
      @content;
    }
  }
  @if ($breakpoint == large) {
    @media only screen and (min-width: 1024px) {
      @content;
    }
  }
}

/*** COLOURS ***/
$dark-blue: #15173d;
$beige: #d1ad70;
$cream: #f5deb3;
$turquoise: #87ccb0;
//$light-blue:;
$button--color-1: #f5deb3;
$button--color-2: #000;
