.loader-container{
  height: 100px;
  margin: 100px auto;
  max-width: 20%;
}

.loader-img{
  margin: 0 auto;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  height: 50px;
  width:100px;
  border: none;
  background-color: hotpink;
}

.turn{
  animation: 1s linear infinite turn;
  transform-origin: 50% 100%;
  position: relative;
}

@keyframes turn {
  from {
    transform: rotate(0deg)
  }
  to {
    transform: rotate(360deg)
  }
}